In [361]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np

#  Loading the datasets

In [362]:
df_fights = pd.read_csv('./dataset/ufc1.csv')
df_fighters = pd.read_csv('./dataset/ufc_fighters1.csv')

# Data Exploring and cleaning ufc fighters dataframe

In [363]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Tom Aaron,5-3-0,--,155 lbs.,--,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,--,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
2,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
3,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0
4,David Abbott,10-15-0,"6' 0""",265 lbs.,--,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0

In [364]:
df_fighters.shape

(4449, 15)

In [365]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4449 non-null   object
 1   record  4449 non-null   object
 2   height  4449 non-null   object
 3   weight  4449 non-null   object
 4   reach   4449 non-null   object
 5   stance  3601 non-null   object
 6   dob     4449 non-null   object
 7   SLpM    4449 non-null   float64
 8   StrAcc  4449 non-null   object
 9   SApM    4449 non-null   float64
 10  StrDef  4449 non-null   object
 11  TDAvg   4449 non-null   float64
 12  TDAcc   4449 non-null   object
 13  TDDef   4449 non-null   object
 14  SubAvg  4449 non-null   float64
dtypes: float64(4), object(11)
memory usage: 521.5+ KB

In [366]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Tom Aaron,5-3-0,--,155 lbs.,--,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,--,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
2,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
3,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0
4,David Abbott,10-15-0,"6' 0""",265 lbs.,--,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0

In [367]:
fighter_cols = df_fighters.columns.to_list()

In [368]:
fighter_cols

['name',
 'record',
 'height',
 'weight',
 'reach',
 'stance',
 'dob',
 'SLpM',
 'StrAcc',
 'SApM',
 'StrDef',
 'TDAvg',
 'TDAcc',
 'TDDef',
 'SubAvg']

# check for columns which are missing all important features

In [369]:
df_fighters.replace("--", np.nan, inplace=True)

In [370]:
indexes_to_drop = df_fighters.loc[(df_fighters["reach"].isna())&(df_fighters["weight"].isna())&(df_fighters["stance"].isna())&(df_fighters["height"].isna())&(df_fighters["SLpM"]==0)&(df_fighters["StrAcc"]=="0%")&(df_fighters["SApM"]==0)&(df_fighters["TDAvg"]==0)&(df_fighters["TDAcc"]=="0%")&(df_fighters["TDDef"]=="0%")&(df_fighters["SubAvg"]==0)&(df_fighters["StrDef"]=="0%")].index

In [371]:
len(indexes_to_drop)

65

In [372]:
df_fighters.drop(indexes_to_drop, inplace=True)

In [373]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4384 entries, 0 to 4448
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4384 non-null   object
 1   record  4384 non-null   object
 2   height  4129 non-null   object
 3   weight  4363 non-null   object
 4   reach   2507 non-null   object
 5   stance  3601 non-null   object
 6   dob     3935 non-null   object
 7   SLpM    4384 non-null   float64
 8   StrAcc  4384 non-null   object
 9   SApM    4384 non-null   float64
 10  StrDef  4384 non-null   object
 11  TDAvg   4384 non-null   float64
 12  TDAcc   4384 non-null   object
 13  TDDef   4384 non-null   object
 14  SubAvg  4384 non-null   float64
dtypes: float64(4), object(11)
memory usage: 548.0+ KB

In [376]:
indexes_to_drop2 = df_fighters.loc[(df_fighters["SLpM"]==0)&(df_fighters["StrAcc"]=="0%")&(df_fighters["SApM"]==0)&(df_fighters["TDAvg"]==0)&(df_fighters["TDAcc"]=="0%")&(df_fighters["TDDef"]=="0%")&(df_fighters["SubAvg"]==0)&(df_fighters["StrDef"]=="0%")].index
len(indexes_to_drop2)

630

In [377]:
df_fighters.drop(indexes_to_drop2, inplace=True)

In [378]:
df_fighters.shape

(3754, 15)

In [379]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3754 entries, 1 to 4448
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3754 non-null   object
 1   record  3754 non-null   object
 2   height  3681 non-null   object
 3   weight  3742 non-null   object
 4   reach   2488 non-null   object
 5   stance  3408 non-null   object
 6   dob     3558 non-null   object
 7   SLpM    3754 non-null   float64
 8   StrAcc  3754 non-null   object
 9   SApM    3754 non-null   float64
 10  StrDef  3754 non-null   object
 11  TDAvg   3754 non-null   float64
 12  TDAcc   3754 non-null   object
 13  TDDef   3754 non-null   object
 14  SubAvg  3754 non-null   float64
dtypes: float64(4), object(11)
memory usage: 469.2+ KB

In [380]:
print("Null Value and zero counts for fighter metrics")
for i in fighter_cols:
    mask = (
        (df_fighters[i] == "0%") |
        (df_fighters[i] == 0) |
        (df_fighters[i].isna())
    )

    count = mask.sum()
    
    if count > 0:
        print(f"{i}: {count}")

Null Value and zero counts for fighter metrics
height: 73
weight: 12
reach: 1266
stance: 346
dob: 196
SLpM: 106
StrAcc: 106
SApM: 31
StrDef: 39
TDAvg: 1168
TDAcc: 1168
TDDef: 862
SubAvg: 1820

In [381]:
df_fighters = df_fighters.reset_index(drop=True)

In [382]:
df_fighters.head(20)

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
1,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
2,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0
3,David Abbott,10-15-0,"6' 0""",265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,7-1-0 (1 NC),"6' 2""",265 lbs.,"72""",Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0
5,Mansur Abdul-Malik,8-0-1,"6' 2""",185 lbs.,"80""",Orthodox,"Oct 07, 1997",4.27,48%,3.49,51%,0.49,33%,82%,0.0
6,Shamil Abdurakhimov,20-8-0,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",2.41,44%,3.02,55%,1.01,23%,45%,0.1
7,Hiroyuki Abe,8-15-3 (1 NC),"5' 6""",145 lbs.,NaN,Orthodox,"Feb 09, 1970",1.71,36%,3.11,63%,0.00,0%,33%,0.0
8,Daichi Abe,6-2-0,"5' 11""",170 lbs.,"71""",Orthodox,"Nov 27, 1991",3.80,33%,4.49,56%,0.33,50%,0%,0.0
9,Papy Abedi,10-4-0,"5' 11""",185 lbs.,NaN,Southpaw,"Jun 30, 1978",2.80,55%,3.15,48%,3.47,57%,50%,1.3
10,Ricardo Abreu,5-1-0,"5' 11""",185 lbs.,NaN,Orthodox,"Apr 27, 1984",3.79,31%,3.98,68%,2.13,42%,100%,0.7
11,Klidson Abreu,15-4-0 (1 NC),"6' 0""",205 lbs.,"74""",Orthodox,"Dec 24, 1992",2.05,40%,2.90,55%,0.64,20%,80%,0.0
12,Daniel Acacio,30-18-0,"5' 8""",180 lbs.,NaN,Orthodox,"Dec 27, 1977",3.52,36%,2.85,62%,0.33,20%,81%,0.0
13,John Adajar,6-2-0,"5' 9""",170 lbs.,"75""",Orthodox,"Jun 22, 1991",3.90,52%,6.28,44%,0.00,0%,0%,0.0
14,Juan Adams,5-3-0,"6' 5""",265 lbs.,"80""",Orthodox,"Jan 16, 1992",7.09,55%,4.06,34%,0.91,66%,57%,0.0
15,Anthony Adams,8-2-0,"6' 1""",185 lbs.,"76""",Orthodox,"Jan 13, 1988",3.17,41%,5.93,44%,0.00,0%,0%,0.0
16,Zarrukh Adashev,4-4-0,"5' 5""",125 lbs.,"65""",Southpaw,"Jul 29, 1992",3.65,40%,3.04,64%,0.00,0%,100%,0.5
17,Israel Adesanya,24-5-0,"6' 4""",185 lbs.,"80""",Switch,"Jul 22, 1989",4.02,48%,3.20,55%,0.05,11%,76%,0.1
18,Mohamed Ado,5-1-0,"5' 11""",170 lbs.,"76""",Switch,"May 03, 2000",1.66,83%,0.33,75%,4.97,50%,50%,5.0
19,Nick Agallar,24-6-0,"5' 8""",155 lbs.,NaN,Orthodox,"Jan 13, 1979",0.69,11%,4.56,42%,0.00,0%,0%,0.0

In [383]:
# check if there are fighters with the same name
df_fighters[df_fighters.duplicated(subset="name", keep=False)]

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
1166,Joey Gomez,6-2-0,"5' 10""",135 lbs.,"73""",Orthodox,"Jul 21, 1986",2.44,28%,4.46,55%,0.62,100%,50%,0.0
1168,Joey Gomez,7-1-0,"5' 10""",155 lbs.,"71""",Orthodox,"Aug 29, 1989",3.73,49%,3.33,50%,2.00,28%,0%,0.0
1551,Tony Johnson,7-2-0,"6' 2""",205 lbs.,"76""",Orthodox,"May 02, 1983",4.00,92%,3.67,22%,0.00,0%,90%,0.0
1559,Tony Johnson,11-3-0,"6' 1""",265 lbs.,NaN,NaN,NaN,2.00,53%,4.73,31%,2.00,22%,0%,0.0
2095,Michael McDonald,1-1-0,"5' 11""",205 lbs.,NaN,Orthodox,"Feb 06, 1965",0.00,0%,0.40,50%,0.00,0%,0%,0.0
2096,Michael McDonald,17-4-0,"5' 9""",135 lbs.,"70""",Orthodox,"Jan 15, 1991",2.69,42%,2.76,57%,1.09,66%,52%,1.4
3098,Jean Silva,19-12-3 (1 NC),"5' 6""",160 lbs.,NaN,Orthodox,"Oct 08, 1977",0.73,22%,2.93,52%,0.00,0%,0%,0.0
3112,Bruno Silva,15-7-2 (1 NC),"5' 4""",125 lbs.,"65""",Orthodox,"Mar 16, 1990",3.82,50%,4.55,52%,2.30,29%,63%,0.3
3113,Bruno Silva,23-13-0,"6' 0""",185 lbs.,"74""",Orthodox,"Jul 13, 1989",3.86,48%,5.35,41%,0.77,22%,74%,0.0
3123,Jean Silva,16-3-0,"5' 7""",145 lbs.,"69""",Orthodox,"Dec 27, 1996",4.79,51%,4.69,54%,0.50,50%,78%,0.8
3464,Victor Valenzuela,13-6-2,"5' 10""",155 lbs.,NaN,NaN,NaN,1.28,100%,2.55,0%,0.00,0%,0%,0.0
3466,Victor Valenzuela,12-4-0,"5' 9""",170 lbs.,"71""",Orthodox,"Feb 09, 1994",3.36,33%,8.40,48%,0.00,0%,0%,0.0

In [384]:
df_fighters.iloc[1168,0] = 'Joey Gomez 155'
df_fighters.iloc[1559,0] = 'Tony Johnson 265'
df_fighters.iloc[2096,0] = 'Michael McDonald 135'
df_fighters.iloc[3123,0] = 'Jean Silva 145'
df_fighters.iloc[3113,0] = 'Bruno Silva 185'
df_fighters.iloc[3466,0] = 'Victor Valenzuela 170'

In [385]:
df_fighters[df_fighters['name']=='Joey Gomez 155']

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
1168,Joey Gomez 155,7-1-0,"5' 10""",155 lbs.,"71""",Orthodox,"Aug 29, 1989",3.73,49%,3.33,50%,2.0,28%,0%,0.0

In [386]:
# check if there are fighters with the same name
df_fighters[df_fighters.duplicated(subset="name", keep=False)]

Empty DataFrame
Columns: [name, record, height, weight, reach, stance, dob, SLpM, StrAcc, SApM, StrDef, TDAvg, TDAcc, TDDef, SubAvg]
Index: []

In [387]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3754 entries, 0 to 3753
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3754 non-null   object
 1   record  3754 non-null   object
 2   height  3681 non-null   object
 3   weight  3742 non-null   object
 4   reach   2488 non-null   object
 5   stance  3408 non-null   object
 6   dob     3558 non-null   object
 7   SLpM    3754 non-null   float64
 8   StrAcc  3754 non-null   object
 9   SApM    3754 non-null   float64
 10  StrDef  3754 non-null   object
 11  TDAvg   3754 non-null   float64
 12  TDAcc   3754 non-null   object
 13  TDDef   3754 non-null   object
 14  SubAvg  3754 non-null   float64
dtypes: float64(4), object(11)
memory usage: 440.1+ KB

In [388]:
def printNull(cls):
    
    print("Null Value and zero counts for fighter metrics")
    for i in cls:
        mask = (
            (df_fighters[i].isna()) 
            
        )
    
        count = mask.sum()
        
        if count > 0:
            print(f"{i}: {count}")

In [389]:
printNull(fighter_cols)

Null Value and zero counts for fighter metrics
height: 73
weight: 12
reach: 1266
stance: 346
dob: 196

In [390]:
df_fighters[df_fighters['height'].isna()]

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
42,Israel Albuquerque,0-3-0,NaN,185 lbs.,NaN,Orthodox,NaN,0.32,13%,3.34,25%,0.0,0%,0%,0.0
129,Angelo Antonio,1-4-0,NaN,205 lbs.,NaN,Orthodox,"Oct 04, 1998",1.09,50%,7.64,50%,0.0,0%,0%,0.0
316,Tom Blackledge,10-7-0,NaN,205 lbs.,NaN,Orthodox,NaN,2.91,61%,2.55,46%,0.0,0%,75%,0.0
382,Mack Brewer,0-1-0,NaN,205 lbs.,NaN,NaN,NaN,0.00,0%,6.67,36%,0.0,0%,0%,0.0
492,Remo Cardarelli,7-5-0,NaN,135 lbs.,NaN,NaN,NaN,2.27,47%,1.47,59%,0.0,0%,100%,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3584,Sam Watford,2-2-0,NaN,155 lbs.,NaN,NaN,NaN,0.13,18%,0.73,62%,2.0,40%,60%,1.0
3585,Blake Watkins,5-1-0,NaN,185 lbs.,NaN,NaN,NaN,5.45,62%,7.64,61%,0.0,0%,0%,0.0
3587,Maka Watson,4-2-0,NaN,155 lbs.,NaN,NaN,"Sep 22, 1984",0.93,37%,1.60,22%,2.0,100%,33%,0.0
3605,Aaron Wetherspoon,9-5-0 (1 NC),NaN,170 lbs.,NaN,NaN,"Jan 11, 1979",2.27,32%,4.33,45%,0.0,0%,77%,0.0
3746,Mike Zichelle,8-4-0,NaN,205 lbs.,NaN,NaN,NaN,0.87,35%,0.87,40%,0.0,0%,0%,2.0

In [391]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
1,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
2,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0
3,David Abbott,10-15-0,"6' 0""",265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,7-1-0 (1 NC),"6' 2""",265 lbs.,"72""",Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0

In [392]:
#Reach to centimeters
df_fighters['reach'] = df_fighters['reach'].astype(str).str.replace('"', '')
df_fighters['reach'] = pd.to_numeric(df_fighters['reach'], errors='coerce')
df_fighters['reach'] = df_fighters['reach']*2.54

# fill reach  height * 1.06
#df['height_in'] = df['height'].str.extract(r"(\d+)").astype(float) * 12 + df['height'].str.extract(r"' (\d+)").astype(float)
#df['reach'] = df['reach'].fillna(df['height_in'] * 1.06)

In [393]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
1,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,167.64,Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
2,Darion Abbey,9-5-0,"6' 2""",265 lbs.,203.20,Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0
3,David Abbott,10-15-0,"6' 0""",265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,7-1-0 (1 NC),"6' 2""",265 lbs.,182.88,Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0

In [394]:
def height_to_cm(h):
    if pd.isna(h): 
        return np.nan
    match = re.match(r"(\d+)' (\d+)", h)
    if match:
        feet = int(match.group(1))
        inches = int(match.group(2))
        total_inches = feet * 12 + inches
        return total_inches * 2.54
    return np.nan

df_fighters['height_cm'] = df_fighters['height'].apply(height_to_cm)

In [395]:
df_fighters.drop(columns="height", inplace=True)

In [396]:
df_fighters.head()

,name,record,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm
0,Danny Abbadi,4-6-0,155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0,180.34
1,Nariman Abbasov,28-4-0,155 lbs.,167.64,Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0,172.72
2,Darion Abbey,9-5-0,265 lbs.,203.20,Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0,187.96
3,David Abbott,10-15-0,265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0,182.88
4,Hamdy Abdelwahab,7-1-0 (1 NC),265 lbs.,182.88,Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0,187.96

In [397]:
#common ufc fighter height reach ratio
df_fighters['reach'] = df_fighters['reach'].fillna(df_fighters['height_cm'] * 1.06)

In [398]:
cols_updated = df_fighters.columns.to_list()
printNull(cols_updated)

Null Value and zero counts for fighter metrics
weight: 12
reach: 72
stance: 346
dob: 196
height_cm: 73

In [399]:
df_fighters.head()

,name,record,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm
0,Danny Abbadi,4-6-0,155 lbs.,191.1604,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0,180.34
1,Nariman Abbasov,28-4-0,155 lbs.,167.6400,Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0,172.72
2,Darion Abbey,9-5-0,265 lbs.,203.2000,Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0,187.96
3,David Abbott,10-15-0,265 lbs.,193.8528,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0,182.88
4,Hamdy Abdelwahab,7-1-0 (1 NC),265 lbs.,182.8800,Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0,187.96

In [400]:
df_fighters['stance'] = df_fighters['stance'].fillna("unknown")

In [401]:
printNull(cols_updated)

Null Value and zero counts for fighter metrics
weight: 12
reach: 72
dob: 196
height_cm: 73

In [402]:
df_fighters.drop(df_fighters[df_fighters["weight"].isna()].index, inplace=True)

In [403]:
printNull(cols_updated)

Null Value and zero counts for fighter metrics
reach: 61
dob: 190
height_cm: 62

In [404]:
df_fighters['height_cm'] = df_fighters['height_cm'].fillna(df_fighters['reach'] / 1.06)

In [405]:
printNull(cols_updated)

Null Value and zero counts for fighter metrics
reach: 61
dob: 190
height_cm: 61

In [406]:
df_fighters["weight"] = (
    df_fighters["weight"]
      .str.replace("lbs.", "", regex=False)
      .str.replace("lbs", "", regex=False)
      .str.strip()
      .astype(float)
)

In [407]:
df_fighters["weight_kg"] = df_fighters["weight"] * 0.453592

In [408]:
df_fighters.drop(columns="weight",inplace=True)

In [409]:
df_fighters.head()

,name,record,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg
0,Danny Abbadi,4-6-0,191.1604,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0,180.34,70.30676
1,Nariman Abbasov,28-4-0,167.6400,Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0,172.72,70.30676
2,Darion Abbey,9-5-0,203.2000,Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0,187.96,120.20188
3,David Abbott,10-15-0,193.8528,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0,182.88,120.20188
4,Hamdy Abdelwahab,7-1-0 (1 NC),182.8800,Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0,187.96,120.20188

In [410]:
cols_updated1 = df_fighters.columns.to_list() 
printNull(cols_updated1)

Null Value and zero counts for fighter metrics
reach: 61
dob: 190
height_cm: 61

In [337]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3739 entries, 0 to 3750
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3739 non-null   object
 1   record     3739 non-null   object
 2   reach      3679 non-null   float64
 3   stance     3739 non-null   object
 4   dob        3550 non-null   object
 5   SLpM       3739 non-null   float64
 6   StrAcc     3739 non-null   object
 7   SApM       3739 non-null   float64
 8   TDAvg      3739 non-null   float64
 9   TDAcc      3739 non-null   object
 10  TDDef      3739 non-null   object
 11  SubAvg     3739 non-null   float64
 12  height_cm  3679 non-null   float64
 13  weight_kg  3739 non-null   float64
dtypes: float64(7), object(7)
memory usage: 438.2+ KB

In [414]:
df_fighters.drop(df_fighters[df_fighters['reach'].isna()].index,inplace=True)

In [415]:
printNull(cols_updated1)

Null Value and zero counts for fighter metrics
dob: 150

In [417]:
df_fighters.drop(df_fighters[df_fighters['dob'].isna()].index,inplace=True)

In [418]:
printNull(cols_updated1)

Null Value and zero counts for fighter metrics

In [419]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3531 entries, 0 to 3753
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3531 non-null   object
 1   record     3531 non-null   object
 2   reach      3531 non-null   float64
 3   stance     3531 non-null   object
 4   dob        3531 non-null   object
 5   SLpM       3531 non-null   float64
 6   StrAcc     3531 non-null   object
 7   SApM       3531 non-null   float64
 8   StrDef     3531 non-null   object
 9   TDAvg      3531 non-null   float64
 10  TDAcc      3531 non-null   object
 11  TDDef      3531 non-null   object
 12  SubAvg     3531 non-null   float64
 13  height_cm  3531 non-null   float64
 14  weight_kg  3531 non-null   float64
dtypes: float64(7), object(8)
memory usage: 441.4+ KB

In [420]:
df_fighters.head()

,name,record,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg
0,Danny Abbadi,4-6-0,191.1604,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0,180.34,70.30676
1,Nariman Abbasov,28-4-0,167.6400,Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0,172.72,70.30676
2,Darion Abbey,9-5-0,203.2000,Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0,187.96,120.20188
3,David Abbott,10-15-0,193.8528,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0,182.88,120.20188
4,Hamdy Abdelwahab,7-1-0 (1 NC),182.8800,Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0,187.96,120.20188

In [423]:
percent_cols = ["StrAcc","StrDef", "TDAcc", "TDDef"]

for col in percent_cols:
    df_fighters[col] = (
        df_fighters[col]
        .str.replace("%", "", regex=False)
        .str.replace("--", "", regex=False)
    )
    df_fighters[col] = pd.to_numeric(df_fighters[col], errors="coerce") / 100

In [424]:
df_fighters.head()

,name,record,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg
0,Danny Abbadi,4-6-0,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,0.77,0.0,180.34,70.30676
1,Nariman Abbasov,28-4-0,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,0.66,0.0,172.72,70.30676
2,Darion Abbey,9-5-0,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,0.00,0.0,187.96,120.20188
3,David Abbott,10-15-0,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,0.66,0.0,182.88,120.20188
4,Hamdy Abdelwahab,7-1-0 (1 NC),182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,1.00,0.0,187.96,120.20188

In [425]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3531 entries, 0 to 3753
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3531 non-null   object
 1   record     3531 non-null   object
 2   reach      3531 non-null   float64
 3   stance     3531 non-null   object
 4   dob        3531 non-null   object
 5   SLpM       3531 non-null   float64
 6   StrAcc     3531 non-null   float64
 7   SApM       3531 non-null   float64
 8   StrDef     3531 non-null   float64
 9   TDAvg      3531 non-null   float64
 10  TDAcc      3531 non-null   float64
 11  TDDef      3531 non-null   float64
 12  SubAvg     3531 non-null   float64
 13  height_cm  3531 non-null   float64
 14  weight_kg  3531 non-null   float64
dtypes: float64(11), object(4)
memory usage: 441.4+ KB

In [426]:
# split wins losses and draws, NC s seperately
def split_record(record):
    if pd.isna(record):
        return pd.Series([None, None, None, None])

    # Extract: wins-losses-draws
    base = record.split("(")[0].strip()       # "7-1-0" or "4-6-0"
    wins, losses, draws = base.split("-")

    # Extract NC if present
    nc_match = re.search(r"\((\d+)\s*NC\)", record)
    nc = int(nc_match.group(1)) if nc_match else 0

    return pd.Series([int(wins), int(losses), int(draws), nc])


# ---- APPLY TO DATAFRAME ----
df_fighters[["wins", "losses", "draws", "nc"]] = df_fighters["record"].apply(split_record)

In [427]:
df_fighters.head()

,name,record,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg,wins,losses,draws,nc
0,Danny Abbadi,4-6-0,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,0.77,0.0,180.34,70.30676,4,6,0,0
1,Nariman Abbasov,28-4-0,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,0.66,0.0,172.72,70.30676,28,4,0,0
2,Darion Abbey,9-5-0,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,0.00,0.0,187.96,120.20188,9,5,0,0
3,David Abbott,10-15-0,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,0.66,0.0,182.88,120.20188,10,15,0,0
4,Hamdy Abdelwahab,7-1-0 (1 NC),182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,1.00,0.0,187.96,120.20188,7,1,0,1

In [429]:
df_fighters.drop(columns='record', inplace=True)

In [430]:
df_fighters.head()

,name,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg,wins,losses,draws,nc
0,Danny Abbadi,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,0.77,0.0,180.34,70.30676,4,6,0,0
1,Nariman Abbasov,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,0.66,0.0,172.72,70.30676,28,4,0,0
2,Darion Abbey,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,0.00,0.0,187.96,120.20188,9,5,0,0
3,David Abbott,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,0.66,0.0,182.88,120.20188,10,15,0,0
4,Hamdy Abdelwahab,182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,1.00,0.0,187.96,120.20188,7,1,0,1

In [432]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3531 entries, 0 to 3753
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3531 non-null   object
 1   reach      3531 non-null   float64
 2   stance     3531 non-null   object
 3   dob        3531 non-null   object
 4   SLpM       3531 non-null   float64
 5   StrAcc     3531 non-null   float64
 6   SApM       3531 non-null   float64
 7   StrDef     3531 non-null   float64
 8   TDAvg      3531 non-null   float64
 9   TDAcc      3531 non-null   float64
 10  TDDef      3531 non-null   float64
 11  SubAvg     3531 non-null   float64
 12  height_cm  3531 non-null   float64
 13  weight_kg  3531 non-null   float64
 14  wins       3531 non-null   int64
 15  losses     3531 non-null   int64
 16  draws      3531 non-null   int64
 17  nc         3531 non-null   int64
dtypes: float64(11), int64(4), object(3)
memory usage: 524.1+ KB

In [433]:
def dob_to_age(dob):
    if pd.isna(dob):
        return None
    try:
        birthdate = pd.to_datetime(dob)
        today = pd.Timestamp.today()
        age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))
        return age
    except:
        return None

df_fighters["age"] = df_fighters["dob"].apply(dob_to_age)

In [434]:
df_fighters.head()

,name,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg,wins,losses,draws,nc,age
0,Danny Abbadi,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,0.77,0.0,180.34,70.30676,4,6,0,0,42
1,Nariman Abbasov,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,0.66,0.0,172.72,70.30676,28,4,0,0,31
2,Darion Abbey,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,0.00,0.0,187.96,120.20188,9,5,0,0,32
3,David Abbott,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,0.66,0.0,182.88,120.20188,10,15,0,0,60
4,Hamdy Abdelwahab,182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,1.00,0.0,187.96,120.20188,7,1,0,1,32

In [435]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3531 entries, 0 to 3753
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3531 non-null   object
 1   reach      3531 non-null   float64
 2   stance     3531 non-null   object
 3   dob        3531 non-null   object
 4   SLpM       3531 non-null   float64
 5   StrAcc     3531 non-null   float64
 6   SApM       3531 non-null   float64
 7   StrDef     3531 non-null   float64
 8   TDAvg      3531 non-null   float64
 9   TDAcc      3531 non-null   float64
 10  TDDef      3531 non-null   float64
 11  SubAvg     3531 non-null   float64
 12  height_cm  3531 non-null   float64
 13  weight_kg  3531 non-null   float64
 14  wins       3531 non-null   int64
 15  losses     3531 non-null   int64
 16  draws      3531 non-null   int64
 17  nc         3531 non-null   int64
 18  age        3531 non-null   int64
dtypes: float64(11), int64(5), object(3)
memory usage: 551.7+ KB

In [436]:
df_fighters["total_fights"] = df_fighters["wins"] + df_fighters["losses"] + df_fighters["draws"]
df_fighters["win_rate"] = df_fighters["wins"] / df_fighters["total_fights"]

In [437]:
df_fighters.head()

,name,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,...,SubAvg,height_cm,weight_kg,wins,losses,draws,nc,age,total_fights,win_rate
0,Danny Abbadi,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,...,0.0,180.34,70.30676,4,6,0,0,42,10,0.400000
1,Nariman Abbasov,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,...,0.0,172.72,70.30676,28,4,0,0,31,32,0.875000
2,Darion Abbey,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,...,0.0,187.96,120.20188,9,5,0,0,32,14,0.642857
3,David Abbott,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,...,0.0,182.88,120.20188,10,15,0,0,60,25,0.400000
4,Hamdy Abdelwahab,182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,...,0.0,187.96,120.20188,7,1,0,1,32,8,0.875000