In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#  Loading the dataset

In [3]:
df = pd.read_csv('./dataset/ufc_data.csv')

# Data Exploring

In [4]:
df.head()

,fighter_1,fighter_2,fighter_1_kd,fighter_2_kd,fighter_1_sig_str,fighter_2_sig_str,fighter_1_td,fighter_2_td,fighter_1_sub,fighter_2_sub,result,winner,weight_class,method,rounds,time,location
0,Islam Makhachev,Jack Della Maddalena,0,0,30,18,4,0,0,0,win,Islam Makhachev,Welterweight,U-DEC,5,5:00,"New York City, New York, USA"
1,Valentina Shevchenko,Zhang Weili,0,0,41,32,5,0,0,0,win,Valentina Shevchenko,Women's Flyweight,U-DEC,5,5:00,"New York City, New York, USA"
2,Michael Morales,Sean Brady,1,0,24,8,0,0,0,0,win,Michael Morales,Welterweight,KO/TKO Punches,1,3:27,"New York City, New York, USA"
3,Carlos Prates,Leon Edwards,1,0,21,12,0,2,0,0,win,Carlos Prates,Welterweight,KO/TKO Punch,2,1:28,"New York City, New York, USA"
4,Benoit Saint Denis,Beneil Dariush,1,0,3,3,0,0,0,0,win,Benoit Saint Denis,Lightweight,KO/TKO Punch,1,0:16,"New York City, New York, USA"

In [5]:
df.shape

(8201, 17)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8201 entries, 0 to 8200
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fighter_1          8201 non-null   object
 1   fighter_2          8201 non-null   object
 2   fighter_1_kd       8201 non-null   int64
 3   fighter_2_kd       8201 non-null   int64
 4   fighter_1_sig_str  8201 non-null   int64
 5   fighter_2_sig_str  8201 non-null   int64
 6   fighter_1_td       8201 non-null   int64
 7   fighter_2_td       8201 non-null   int64
 8   fighter_1_sub      8201 non-null   int64
 9   fighter_2_sub      8201 non-null   int64
 10  result             8201 non-null   object
 11  winner             8201 non-null   object
 12  weight_class       8201 non-null   object
 13  method             8201 non-null   object
 14  rounds             8201 non-null   int64
 15  time               8201 non-null   object
 16  location           8201 non-null   object
dtypes: int64(9), object(8)
memory usage: 1.1+ MB

In [11]:
def print_unique_value(df):   
    for col in df:
        if df[col].dtype == "object":
            print(col, ": ",df[col].unique())

In [12]:
print_unique_value(df)

fighter_1 :  ['Islam Makhachev' 'Valentina Shevchenko' 'Michael Morales' ...
 'Bobby Hoffman' 'Mark Hughes' 'Ben Earwood']
fighter_2 :  ['Jack Della Maddalena' 'Zhang Weili' 'Sean Brady' ... 'Aaron Brink'
 'John Lewis' 'Alex Stiebling']
result :  ['win' 'nc' 'draw\n\n\ndraw' 'nc\n\n\nnc']
winner :  ['Islam Makhachev' 'Valentina Shevchenko' 'Michael Morales' ...
 'Mark Robinson' 'Mark Hughes' 'Ben Earwood']
weight_class :  ['Welterweight' "Women's Flyweight" 'Lightweight' 'Middleweight'
 'Featherweight' "Women's Strawweight" 'Flyweight' 'Bantamweight'
 "Women's Bantamweight" 'Heavyweight' 'Catch Weight' 'Light Heavyweight'
 "Women's Featherweight" 'Super Heavyweight']
method :  ['U-DEC' 'KO/TKO Punches' 'KO/TKO Punch' 'KO/TKO Kick'
 'SUB Rear Naked Choke' "SUB D'Arce Choke" 'KO/TKO Knee'
 'SUB Guillotine Choke' 'SUB Anaconda Choke' 'S-DEC' 'CNC' 'M-DEC'
 'SUB Heel Hook' 'KO/TKO' 'SUB Kimura' 'SUB Armbar' 'KO/TKO Elbows'
 'KO/TKO Elbow' 'SUB Ezekiel Choke' 'KO/TKO Spinning Back Elbow'
 'SUB Triangle Choke' 'KO/TKO Slam' 'SUB Neck Crank' 'SUB Arm Triangle'
 'Overturned' 'SUB Keylock' 'KO/TKO Flying Knee'
 'KO/TKO Spinning Back Kick' 'KO/TKO Spinning Back Fist' 'KO/TKO Knees'
 'SUB Triangle Armbar' 'DQ' 'KO/TKO Kicks' 'SUB Twister'
 'Overturned Guillotine Choke' 'SUB Other - Lock' 'SUB Kneebar'
 'SUB Inverted Triangle' 'SUB Von Flue Choke' 'SUB Scarf Hold'
 'SUB Straight Armbar' 'Overturned Punches' 'SUB Ankle Lock'
 'SUB Forearm Choke' 'SUB Injury' 'Overturned Punch'
 'Overturned Rear Naked Choke' 'Overturned Knee' 'Overturned Arm Triangle'
 'SUB Peruvian Necktie' 'SUB Schultz Front Headlock' 'SUB Bulldog Choke'
 "Overturned D'Arce Choke" 'SUB Suloev Stretch' 'SUB Omoplata'
 'SUB Calf Slicer' 'SUB North-South Choke' 'Overturned Kick'
 'DQ Rear Naked Choke' 'Overturned Triangle Choke' 'Overturned Elbows'
 'SUB Pace/Pillory Choke' 'SUB Toe Hold']
time :  ['5:00' '3:27' '1:28' '0:16' '2:24' '4:44' '0:50' '1:38' '1:40' '2:54'
 '1:03' '4:30' '3:20' '0:56' '4:23' '3:34' '3:59' '3:41' '4:29' '3:13'
 '3:33' '1:25' '4:36' '4:35' '3:11' '2:30' '1:24' '1:14' '3:05' '1:16'
 '0:21' '2:15' '2:50' '0:55' '4:32' '2:48' '4:10' '3:02' '1:42' '4:42'
 '0:26' '2:14' '2:56' '3:55' '1:20' '3:04' '1:46' '1:41' '4:58' '4:27'
 '3:19' '3:08' '4:08' '2:41' '1:55' '4:48' '2:27' '3:46' '4:21' '0:51'
 '0:47' '3:18' '2:02' '2:03' '3:21' '3:01' '1:43' '0:54' '1:58' '2:37'
 '0:43' '0:37' '2:45' '4:59' '4:39' '2:01' '3:03' '3:53' '1:06' '1:02'
 '1:31' '3:39' '4:18' '0:42' '2:59' '1:10' '4:06' '2:47' '3:35' '1:30'
 '0:35' '0:27' '4:16' '4:25' '1:09' '2:36' '4:03' '4:17' '0:36' '0:11'
 '4:55' '4:01' '3:25' '0:28' '3:16' '1:50' '1:39' '3:43' '3:37' '0:30'
 '2:26' '2:35' '2:40' '1:27' '1:04' '1:53' '1:12' '2:44' '2:07' '1:54'
 '4:54' '1:59' '1:49' '2:31' '3:07' '3:52' '4:15' '2:49' '1:52' '3:48'
 '4:13' '1:45' '4:38' '3:32' '3:42' '3:22' '2:19' '4:09' '3:09' '2:46'
 '2:29' '2:16' '4:45' '3:10' '0:39' '2:51' '3:24' '3:58' '0:33' '2:12'
 '1:35' '2:58' '1:17' '2:06' '0:19' '3:12' '4:22' '4:05' '4:53' '3:31'
 '4:56' '0:31' '2:04' '1:13' '1:36' '1:57' '3:44' '2:05' '4:46' '0:52'
 '4:51' '1:56' '3:49' '2:25' '0:46' '2:55' '0:40' '4:50' '1:44' '1:15'
 '4:19' '1:23' '2:28' '4:28' '0:59' '1:34' '4:52' '3:14' '2:22' '4:33'
 '2:17' '3:47' '4:02' '0:29' '4:14' '3:28' '4:12' '3:38' '4:04' '0:48'
 '2:39' '3:36' '1:00' '3:23' '1:05' '4:49' '0:20' '0:18' '0:13' '1:22'
 '2:00' '4:47' '2:42' '3:50' '0:49' '0:12' '3:00' '2:10' '2:09' '1:29'
 '3:17' '1:47' '4:11' '2:13' '3:06' '2:18' '4:00' '4:43' '0:22' '1:32'
 '2:52' '3:54' '0:15' '2:32' '1:01' '4:41' '0:58' '0:44' '1:18' '2:43'
 '0:32' '3:29' '4:31' '1:11' '0:38' '4:24' '3:15' '2:23' '4:40' '3:26'
 '4:37' '2:20' '3:51' '0:23' '2:11' '4:57' '4:26' '1:07' '0:34' '0:17'
 '4:20' '1:48' '2:57' '0:14' '4:34' '1:37' '0:08' '4:07' '1:33' '2:21'
 '3:57' '0:45' '1:08' '2:38' '0:41' '3:56' '2:34' '3:45' '2:33' '0:57'
 '0:25' '1:21' '0:53' '1:51' '3:40' '0:07' '1:26' '1:19' '2:53' '0:05'
 '0:09' '2:08' '0:24' '3:30' '0:10' '0:06']
location :  ['New York City, New York, USA' 'Las Vegas, Nevada, USA'
 'Abu Dhabi, Abu Dhabi, United Arab Emirates'
 'Vancouver, British Columbia, Canada'
 'Rio de Janeiro, Rio de Janeiro, Brazil'
 'Perth, Western Australia, Australia' 'San Antonio, Texas, USA'
 'Paris, Ile-de-France, France' 'Shanghai, Hebei, China'
 'Chicago, Illinois, USA' 'New Orleans, Louisiana, USA'
 'Nashville, Tennessee, USA' 'Baku, Azerbaijan' 'Atlanta, Georgia, USA'
 'Newark, New Jersey, USA' 'Montreal, Quebec, Canada'
 'Des Moines, Iowa, USA' 'Kansas City, Missouri, USA'
 'Miami, Florida, USA' 'Mexico City, Distrito Federal, Mexico'
 'London, England, United Kingdom' 'Seattle, Washington, USA'
 'Sydney, New South Wales, Australia' 'Riyadh, Riyadh, Saudi Arabia'
 'Inglewood, California, USA' 'Tampa, Florida, USA' 'Macau, China'
 'Edmonton, Alberta, Canada' 'Salt Lake City, Utah, USA'
 'Manchester, England, United Kingdom' 'Denver, Colorado, USA'
 'Louisville, Kentucky, USA' 'St. Louis, Missouri, USA'
 'Atlantic City, New Jersey, USA' 'Anaheim, California, USA'
 'Toronto, Ontario, Canada' 'Austin, Texas, USA'
 'Sao Paulo, Sao Paulo, Brazil' 'Kallang, Singapore'
 'Boston, Massachusetts, USA' 'Jacksonville, Florida, USA'
 'Charlotte, North Carolina, USA' 'Orlando, Florida, USA'
 'San Diego, California, USA' 'Dallas, Texas, USA' 'Elmont, New York, USA'
 'Phoenix, Arizona, USA' 'Columbus, Ohio, USA' 'Houston, Texas, USA'
 'Glendale, Arizona, USA' 'Brasilia, Distrito Federal, Brazil'
 'Norfolk, Virginia, USA' 'Auckland, New Zealand'
 'Rio Rancho, New Mexico, USA' 'Raleigh, North Carolina, USA'
 'Busan, South Korea' 'Washington, DC, USA' 'Moscow, Moscow, Russia'
 'Melbourne, Victoria, Australia' 'Copenhagen, Denmark'
 'Shenzhen, Guangdong, China' 'Montevideo, Uruguay'
 'Sacramento, California, USA' 'Minneapolis, Minnesota, USA'
 'Greenville, South Carolina, USA' 'Stockholm, Sweden'
 'Rochester, New York, USA' 'Ottawa, Ontario, Canada'
 'Sunrise, Florida, USA' 'Saint Petersburg, Saint Petersburg, Russia'
 'Philadelphia, Pennsylvania, USA' 'Wichita, Kansas, USA'
 'Prague, Czech Republic' 'Fortaleza, Ceara, Brazil'
 'Brooklyn, New York, USA' 'Los Angeles, California, USA'
 'Milwaukee, Wisconsin, USA' 'Adelaide, South Australia, Australia'
 'Beijing, China' 'Buenos Aires, Buenos Aires, Argentina'
 'Moncton, New Brunswick, Canada' 'Lincoln, Nebraska, USA'
 'Calgary, Alberta, Canada' 'Hamburg, Hamburg, Germany'
 'Boise, Idaho, USA' 'Utica, New York, USA'
 'Liverpool, England, United Kingdom' 'Santiago, Chile'
 'Belem, Para, Brazil' 'Winnipeg, Manitoba, Canada'
 'Fresno, California, USA' 'Detroit, Michigan, USA' 'Gdansk, Poland'
 'Saitama, Saitama, Japan' 'Pittsburgh, Pennsylvania, USA'
 'Rotterdam, Zuid-Holland, Netherlands' 'Uniondale, New York, USA'
 'Glasgow, Scotland, United Kingdom' 'Oklahoma City, Oklahoma, USA'
 'Buffalo, New York, USA' 'Halifax, Nova Scotia, Canada'
 'Albany, New York, USA' 'Belfast, Northern Ireland, United Kingdom'
 'Portland, Oregon, USA' 'Hidalgo, Texas, USA' 'Cleveland, Ohio, USA'
 'Sioux Falls, South Dakota, USA' 'Curitiba, Parana, Brazil'
 'Zagreb, Croatia' 'Brisbane, Queensland, Australia' 'Seoul, South Korea'
 'Monterrey, Nuevo Leon, Mexico' 'Dublin, Leinster, Ireland'
 'Saitama, Japan' 'Saskatoon, Saskatchewan, Canada'
 'Hollywood, Florida, USA' 'Berlin, Berlin, Germany'
 'Goiania, Goias, Brazil' 'Manila, Philippines' 'Krakow, Poland'
 'Fairfax, Virginia, USA' 'Rio de Janeiro, Brazil'
 'Porto Alegre, Rio Grande do Sul, Brazil' 'Broomfield, Colorado, USA'
 'Barueri, Sao Paulo, Brazil' 'Uberlandia, Minas Gerais, Brazil'
 'Ledyard, Connecticut, USA' 'Tulsa, Oklahoma, USA' 'Bangor, Maine, USA'
 'San Jose, California, USA' 'Albuquerque, New Mexico, USA'
 'Sao Paulo, Brazil' 'Berlin, Germany' 'Cincinnati, Ohio, USA'
 'Baltimore, Maryland, USA' 'Quebec City, Quebec, Canada'
 'Abu Dhabi, United Arab Emirates' 'Natal, Rio Grande do Norte, Brazil'
 'Jaragua do Sul, Santa Catarina, Brazil' 'Duluth, Georgia, USA'
 'Singapore, Singapore' 'Fort Campbell, Kentucky, USA'
 'Belo Horizonte, Minas Gerais, Brazil' 'Indianapolis, Indiana, USA'
 'Gold Coast, Queensland, Australia' 'Nottingham, England, United Kingdom'
 'East Rutherford, New Jersey, USA' 'Omaha, Nebraska, USA'
 'Birmingham, England, United Kingdom' 'Killeen, Texas, USA'
 'Auburn Hills, Michigan, USA'
 'Oberhausen, North Rhine-Westphalia, Germany' 'Oakland, California, USA'
 'Memphis, Tennessee, USA' 'Cologne, North Rhine-Westphalia, Germany'
 'Fayetteville, North Carolina, USA' 'Rosemont, Illinois, USA'
 'Newcastle, England, United Kingdom' 'Uncasville, Connecticut, USA'
 'Bossier City, Louisiana, USA' 'Tokyo, Japan']

In [13]:
df['time'] = pd.to_datetime(df['time'], format='%M:%S')

In [15]:
df['time'] = df['time'].dt.time

In [16]:
df.head()

,fighter_1,fighter_2,fighter_1_kd,fighter_2_kd,fighter_1_sig_str,fighter_2_sig_str,fighter_1_td,fighter_2_td,fighter_1_sub,fighter_2_sub,result,winner,weight_class,method,rounds,time,location
0,Islam Makhachev,Jack Della Maddalena,0,0,30,18,4,0,0,0,win,Islam Makhachev,Welterweight,U-DEC,5,00:05:00,"New York City, New York, USA"
1,Valentina Shevchenko,Zhang Weili,0,0,41,32,5,0,0,0,win,Valentina Shevchenko,Women's Flyweight,U-DEC,5,00:05:00,"New York City, New York, USA"
2,Michael Morales,Sean Brady,1,0,24,8,0,0,0,0,win,Michael Morales,Welterweight,KO/TKO Punches,1,00:03:27,"New York City, New York, USA"
3,Carlos Prates,Leon Edwards,1,0,21,12,0,2,0,0,win,Carlos Prates,Welterweight,KO/TKO Punch,2,00:01:28,"New York City, New York, USA"
4,Benoit Saint Denis,Beneil Dariush,1,0,3,3,0,0,0,0,win,Benoit Saint Denis,Lightweight,KO/TKO Punch,1,00:00:16,"New York City, New York, USA"