In [295]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np

#  Loading the datasets

In [264]:
df_fights = pd.read_csv('./dataset/ufc1.csv')
df_fighters = pd.read_csv('./dataset/ufc_fighters.csv')

# Data Exploring and cleaning ufc fighters dataframe

In [265]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Tom Aaron,5-3-0,--,155 lbs.,--,NaN,"Jul 13, 1978",0.00,0%,0.00,NaN,0.00,0%,0%,0.0
1,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,--,Orthodox,"Jul 03, 1983",3.29,38%,4.41,NaN,0.00,0%,77%,0.0
2,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,NaN,0.00,0%,66%,0.0
3,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,NaN,0.00,0%,0%,0.0
4,David Abbott,10-15-0,"6' 0""",265 lbs.,--,Switch,"Apr 26, 1965",1.35,30%,3.55,NaN,1.07,33%,66%,0.0

In [266]:
df_fighters.shape

(4449, 15)

In [267]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4449 non-null   object
 1   record  4449 non-null   object
 2   height  4449 non-null   object
 3   weight  4449 non-null   object
 4   reach   4449 non-null   object
 5   stance  3601 non-null   object
 6   dob     4449 non-null   object
 7   SLpM    4449 non-null   float64
 8   StrAcc  4449 non-null   object
 9   SApM    4449 non-null   float64
 10  StrDef  0 non-null      float64
 11  TDAvg   4449 non-null   float64
 12  TDAcc   4449 non-null   object
 13  TDDef   4449 non-null   object
 14  SubAvg  4449 non-null   float64
dtypes: float64(5), object(10)
memory usage: 521.5+ KB

In [268]:
df_fighters.drop(columns='StrDef', inplace=True)

In [269]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,TDAvg,TDAcc,TDDef,SubAvg
0,Tom Aaron,5-3-0,--,155 lbs.,--,NaN,"Jul 13, 1978",0.00,0%,0.00,0.00,0%,0%,0.0
1,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,--,Orthodox,"Jul 03, 1983",3.29,38%,4.41,0.00,0%,77%,0.0
2,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,0.00,0%,66%,0.0
3,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,0.00,0%,0%,0.0
4,David Abbott,10-15-0,"6' 0""",265 lbs.,--,Switch,"Apr 26, 1965",1.35,30%,3.55,1.07,33%,66%,0.0

In [270]:
fighter_cols = df_fighters.columns.to_list()

In [271]:
fighter_cols

['name',
 'record',
 'height',
 'weight',
 'reach',
 'stance',
 'dob',
 'SLpM',
 'StrAcc',
 'SApM',
 'TDAvg',
 'TDAcc',
 'TDDef',
 'SubAvg']

# check for columns which are missing all important features

In [272]:
df_fighters.replace("--", np.nan, inplace=True)

In [273]:
indexes_to_drop = df_fighters.loc[(df_fighters["reach"].isna())&(df_fighters["weight"].isna())&(df_fighters["stance"].isna())&(df_fighters["height"].isna())&(df_fighters["SLpM"]==0)&(df_fighters["StrAcc"]=="0%")&(df_fighters["SApM"]==0)&(df_fighters["TDAvg"]==0)&(df_fighters["TDAcc"]=="0%")&(df_fighters["TDDef"]=="0%")&(df_fighters["SubAvg"]==0)].index

In [274]:
len(indexes_to_drop)

65

In [275]:
df_fighters.drop(indexes_to_drop, inplace=True)

In [276]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4384 entries, 0 to 4448
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4384 non-null   object
 1   record  4384 non-null   object
 2   height  4129 non-null   object
 3   weight  4363 non-null   object
 4   reach   2507 non-null   object
 5   stance  3601 non-null   object
 6   dob     3935 non-null   object
 7   SLpM    4384 non-null   float64
 8   StrAcc  4384 non-null   object
 9   SApM    4384 non-null   float64
 10  TDAvg   4384 non-null   float64
 11  TDAcc   4384 non-null   object
 12  TDDef   4384 non-null   object
 13  SubAvg  4384 non-null   float64
dtypes: float64(4), object(10)
memory usage: 513.8+ KB

In [277]:
indexes_to_drop2 = df_fighters.loc[(df_fighters["SLpM"]==0)&(df_fighters["StrAcc"]=="0%")&(df_fighters["SApM"]==0)&(df_fighters["TDAvg"]==0)&(df_fighters["TDAcc"]=="0%")&(df_fighters["TDDef"]=="0%")&(df_fighters["SubAvg"]==0)].index
len(indexes_to_drop2)

633

In [278]:
df_fighters.drop(indexes_to_drop2, inplace=True)

In [279]:
df_fighters.shape

(3751, 14)

In [280]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3751 entries, 1 to 4448
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3751 non-null   object
 1   record  3751 non-null   object
 2   height  3679 non-null   object
 3   weight  3739 non-null   object
 4   reach   2488 non-null   object
 5   stance  3405 non-null   object
 6   dob     3556 non-null   object
 7   SLpM    3751 non-null   float64
 8   StrAcc  3751 non-null   object
 9   SApM    3751 non-null   float64
 10  TDAvg   3751 non-null   float64
 11  TDAcc   3751 non-null   object
 12  TDDef   3751 non-null   object
 13  SubAvg  3751 non-null   float64
dtypes: float64(4), object(10)
memory usage: 439.6+ KB

In [281]:
print("Null Value and zero counts for fighter metrics")
for i in fighter_cols:
    mask = (
        (df_fighters[i] == "0%") |
        (df_fighters[i] == 0) |
        (df_fighters[i].isna())
    )

    count = mask.sum()
    
    if count > 0:
        print(f"{i}: {count}")

Null Value and zero counts for fighter metrics
height: 72
weight: 12
reach: 1263
stance: 346
dob: 195
SLpM: 103
StrAcc: 103
SApM: 28
TDAvg: 1165
TDAcc: 1165
TDDef: 859
SubAvg: 1817

In [282]:
df_fighters = df_fighters.reset_index(drop=True)

In [283]:
df_fighters.head(20)

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,TDAvg,TDAcc,TDDef,SubAvg
0,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,0.00,0%,77%,0.0
1,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,0.00,0%,66%,0.0
2,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,0.00,0%,0%,0.0
3,David Abbott,10-15-0,"6' 0""",265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,7-1-0 (1 NC),"6' 2""",265 lbs.,"72""",Southpaw,"Jan 22, 1993",4.27,55%,3.67,3.25,65%,100%,0.0
5,Mansur Abdul-Malik,8-0-1,"6' 2""",185 lbs.,"80""",Orthodox,"Oct 07, 1997",4.27,48%,3.49,0.49,33%,82%,0.0
6,Shamil Abdurakhimov,20-8-0,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",2.41,44%,3.02,1.01,23%,45%,0.1
7,Hiroyuki Abe,8-15-3 (1 NC),"5' 6""",145 lbs.,NaN,Orthodox,"Feb 09, 1970",1.71,36%,3.11,0.00,0%,33%,0.0
8,Daichi Abe,6-2-0,"5' 11""",170 lbs.,"71""",Orthodox,"Nov 27, 1991",3.80,33%,4.49,0.33,50%,0%,0.0
9,Papy Abedi,10-4-0,"5' 11""",185 lbs.,NaN,Southpaw,"Jun 30, 1978",2.80,55%,3.15,3.47,57%,50%,1.3
10,Ricardo Abreu,5-1-0,"5' 11""",185 lbs.,NaN,Orthodox,"Apr 27, 1984",3.79,31%,3.98,2.13,42%,100%,0.7
11,Klidson Abreu,15-4-0 (1 NC),"6' 0""",205 lbs.,"74""",Orthodox,"Dec 24, 1992",2.05,40%,2.90,0.64,20%,80%,0.0
12,Daniel Acacio,30-18-0,"5' 8""",180 lbs.,NaN,Orthodox,"Dec 27, 1977",3.52,36%,2.85,0.33,20%,81%,0.0
13,John Adajar,6-2-0,"5' 9""",170 lbs.,"75""",Orthodox,"Jun 22, 1991",3.90,52%,6.28,0.00,0%,0%,0.0
14,Juan Adams,5-3-0,"6' 5""",265 lbs.,"80""",Orthodox,"Jan 16, 1992",7.09,55%,4.06,0.91,66%,57%,0.0
15,Anthony Adams,8-2-0,"6' 1""",185 lbs.,"76""",Orthodox,"Jan 13, 1988",3.17,41%,5.93,0.00,0%,0%,0.0
16,Zarrukh Adashev,4-4-0,"5' 5""",125 lbs.,"65""",Southpaw,"Jul 29, 1992",3.65,40%,3.04,0.00,0%,100%,0.5
17,Israel Adesanya,24-5-0,"6' 4""",185 lbs.,"80""",Switch,"Jul 22, 1989",4.02,48%,3.20,0.05,11%,76%,0.1
18,Mohamed Ado,5-1-0,"5' 11""",170 lbs.,"76""",Switch,"May 03, 2000",1.66,83%,0.33,4.97,50%,50%,5.0
19,Nick Agallar,24-6-0,"5' 8""",155 lbs.,NaN,Orthodox,"Jan 13, 1979",0.69,11%,4.56,0.00,0%,0%,0.0

In [284]:
# check if there are fighters with the same name
df_fighters[df_fighters.duplicated(subset="name", keep=False)]

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,TDAvg,TDAcc,TDDef,SubAvg
1165,Joey Gomez,6-2-0,"5' 10""",135 lbs.,"73""",Orthodox,"Jul 21, 1986",2.44,28%,4.46,0.62,100%,50%,0.0
1167,Joey Gomez,7-1-0,"5' 10""",155 lbs.,"71""",Orthodox,"Aug 29, 1989",3.73,49%,3.33,2.00,28%,0%,0.0
1550,Tony Johnson,7-2-0,"6' 2""",205 lbs.,"76""",Orthodox,"May 02, 1983",4.00,92%,3.67,0.00,0%,90%,0.0
1558,Tony Johnson,11-3-0,"6' 1""",265 lbs.,NaN,NaN,NaN,2.00,53%,4.73,2.00,22%,0%,0.0
2094,Michael McDonald,1-1-0,"5' 11""",205 lbs.,NaN,Orthodox,"Feb 06, 1965",0.00,0%,0.40,0.00,0%,0%,0.0
2095,Michael McDonald,17-4-0,"5' 9""",135 lbs.,"70""",Orthodox,"Jan 15, 1991",2.69,42%,2.76,1.09,66%,52%,1.4
3097,Jean Silva,19-12-3 (1 NC),"5' 6""",160 lbs.,NaN,Orthodox,"Oct 08, 1977",0.73,22%,2.93,0.00,0%,0%,0.0
3111,Bruno Silva,15-7-2 (1 NC),"5' 4""",125 lbs.,"65""",Orthodox,"Mar 16, 1990",3.82,50%,4.55,2.30,29%,63%,0.3
3112,Bruno Silva,23-13-0,"6' 0""",185 lbs.,"74""",Orthodox,"Jul 13, 1989",3.86,48%,5.35,0.77,22%,74%,0.0
3122,Jean Silva,16-3-0,"5' 7""",145 lbs.,"69""",Orthodox,"Dec 27, 1996",4.79,51%,4.69,0.50,50%,78%,0.8
3462,Victor Valenzuela,13-6-2,"5' 10""",155 lbs.,NaN,NaN,NaN,1.28,100%,2.55,0.00,0%,0%,0.0
3464,Victor Valenzuela,12-4-0,"5' 9""",170 lbs.,"71""",Orthodox,"Feb 09, 1994",3.36,33%,8.40,0.00,0%,0%,0.0

In [285]:
df_fighters.iloc[1167,0] = 'Joey Gomez 155'
df_fighters.iloc[1558,0] = 'Tony Johnson 265'
df_fighters.iloc[2095,0] = 'Michael McDonald 135'
df_fighters.iloc[3122,0] = 'Jean Silva 145'
df_fighters.iloc[3112,0] = 'Bruno Silva 185'
df_fighters.iloc[3464,0] = 'Victor Valenzuela 170'

In [286]:
df_fighters[df_fighters['name']=='Joey Gomez 155']

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,TDAvg,TDAcc,TDDef,SubAvg
1167,Joey Gomez 155,7-1-0,"5' 10""",155 lbs.,"71""",Orthodox,"Aug 29, 1989",3.73,49%,3.33,2.0,28%,0%,0.0

In [287]:
# check if there are fighters with the same name
df_fighters[df_fighters.duplicated(subset="name", keep=False)]

Empty DataFrame
Columns: [name, record, height, weight, reach, stance, dob, SLpM, StrAcc, SApM, TDAvg, TDAcc, TDDef, SubAvg]
Index: []

In [288]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3751 entries, 0 to 3750
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3751 non-null   object
 1   record  3751 non-null   object
 2   height  3679 non-null   object
 3   weight  3739 non-null   object
 4   reach   2488 non-null   object
 5   stance  3405 non-null   object
 6   dob     3556 non-null   object
 7   SLpM    3751 non-null   float64
 8   StrAcc  3751 non-null   object
 9   SApM    3751 non-null   float64
 10  TDAvg   3751 non-null   float64
 11  TDAcc   3751 non-null   object
 12  TDDef   3751 non-null   object
 13  SubAvg  3751 non-null   float64
dtypes: float64(4), object(10)
memory usage: 410.4+ KB

In [301]:
def printNull(cls):
    
    print("Null Value and zero counts for fighter metrics")
    for i in cls:
        mask = (
            (df_fighters[i].isna()) 
            
        )
    
        count = mask.sum()
        
        if count > 0:
            print(f"{i}: {count}")

In [302]:
printNull(fighter_cols)

Null Value and zero counts for fighter metrics
height: 72
weight: 12
reach: 1263
stance: 346
dob: 195

In [290]:
df_fighters[df_fighters['height'].isna()]

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,TDAvg,TDAcc,TDDef,SubAvg
42,Israel Albuquerque,0-3-0,NaN,185 lbs.,NaN,Orthodox,NaN,0.32,13%,3.34,0.0,0%,0%,0.0
129,Angelo Antonio,1-4-0,NaN,205 lbs.,NaN,Orthodox,"Oct 04, 1998",1.09,50%,7.64,0.0,0%,0%,0.0
315,Tom Blackledge,10-7-0,NaN,205 lbs.,NaN,Orthodox,NaN,2.91,61%,2.55,0.0,0%,75%,0.0
381,Mack Brewer,0-1-0,NaN,205 lbs.,NaN,NaN,NaN,0.00,0%,6.67,0.0,0%,0%,0.0
491,Remo Cardarelli,7-5-0,NaN,135 lbs.,NaN,NaN,NaN,2.27,47%,1.47,0.0,0%,100%,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3581,Sam Watford,2-2-0,NaN,155 lbs.,NaN,NaN,NaN,0.13,18%,0.73,2.0,40%,60%,1.0
3582,Blake Watkins,5-1-0,NaN,185 lbs.,NaN,NaN,NaN,5.45,62%,7.64,0.0,0%,0%,0.0
3584,Maka Watson,4-2-0,NaN,155 lbs.,NaN,NaN,"Sep 22, 1984",0.93,37%,1.60,2.0,100%,33%,0.0
3602,Aaron Wetherspoon,9-5-0 (1 NC),NaN,170 lbs.,NaN,NaN,"Jan 11, 1979",2.27,32%,4.33,0.0,0%,77%,0.0
3743,Mike Zichelle,8-4-0,NaN,205 lbs.,NaN,NaN,NaN,0.87,35%,0.87,0.0,0%,0%,2.0

In [291]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,TDAvg,TDAcc,TDDef,SubAvg
0,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,0.00,0%,77%,0.0
1,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,0.00,0%,66%,0.0
2,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,0.00,0%,0%,0.0
3,David Abbott,10-15-0,"6' 0""",265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,7-1-0 (1 NC),"6' 2""",265 lbs.,"72""",Southpaw,"Jan 22, 1993",4.27,55%,3.67,3.25,65%,100%,0.0

In [292]:
#Reach to centimeters
df_fighters['reach'] = df_fighters['reach'].astype(str).str.replace('"', '')
df_fighters['reach'] = pd.to_numeric(df_fighters['reach'], errors='coerce')
df_fighters['reach'] = df_fighters['reach']*2.54

# fill reach  height * 1.06
#df['height_in'] = df['height'].str.extract(r"(\d+)").astype(float) * 12 + df['height'].str.extract(r"' (\d+)").astype(float)
#df['reach'] = df['reach'].fillna(df['height_in'] * 1.06)

In [293]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,TDAvg,TDAcc,TDDef,SubAvg
0,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,0.00,0%,77%,0.0
1,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,167.64,Orthodox,"Feb 01, 1994",3.00,20%,5.67,0.00,0%,66%,0.0
2,Darion Abbey,9-5-0,"6' 2""",265 lbs.,203.20,Orthodox,"Feb 25, 1993",8.44,50%,14.06,0.00,0%,0%,0.0
3,David Abbott,10-15-0,"6' 0""",265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,7-1-0 (1 NC),"6' 2""",265 lbs.,182.88,Southpaw,"Jan 22, 1993",4.27,55%,3.67,3.25,65%,100%,0.0

In [296]:
def height_to_cm(h):
    if pd.isna(h): 
        return np.nan
    match = re.match(r"(\d+)' (\d+)", h)
    if match:
        feet = int(match.group(1))
        inches = int(match.group(2))
        total_inches = feet * 12 + inches
        return total_inches * 2.54
    return np.nan

df_fighters['height_cm'] = df_fighters['height'].apply(height_to_cm)

In [307]:
df_fighters.drop(columns="height", inplace=True)

In [308]:
df_fighters.head()

,name,record,weight,reach,stance,dob,SLpM,StrAcc,SApM,TDAvg,TDAcc,TDDef,SubAvg,height_cm
0,Danny Abbadi,4-6-0,155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,0.00,0%,77%,0.0,180.34
1,Nariman Abbasov,28-4-0,155 lbs.,167.64,Orthodox,"Feb 01, 1994",3.00,20%,5.67,0.00,0%,66%,0.0,172.72
2,Darion Abbey,9-5-0,265 lbs.,203.20,Orthodox,"Feb 25, 1993",8.44,50%,14.06,0.00,0%,0%,0.0,187.96
3,David Abbott,10-15-0,265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,1.07,33%,66%,0.0,182.88
4,Hamdy Abdelwahab,7-1-0 (1 NC),265 lbs.,182.88,Southpaw,"Jan 22, 1993",4.27,55%,3.67,3.25,65%,100%,0.0,187.96

In [311]:
#common ufc fighter height reach ratio
df_fighters['reach'] = df_fighters['reach'].fillna(df_fighters['height_cm'] * 1.06)

In [313]:
cols_updated = df_fighters.columns.to_list()
printNull(cols_updated)

Null Value and zero counts for fighter metrics
weight: 12
reach: 71
stance: 346
dob: 195
height_cm: 72

In [314]:
df_fighters.head()

,name,record,weight,reach,stance,dob,SLpM,StrAcc,SApM,TDAvg,TDAcc,TDDef,SubAvg,height_cm
0,Danny Abbadi,4-6-0,155 lbs.,191.1604,Orthodox,"Jul 03, 1983",3.29,38%,4.41,0.00,0%,77%,0.0,180.34
1,Nariman Abbasov,28-4-0,155 lbs.,167.6400,Orthodox,"Feb 01, 1994",3.00,20%,5.67,0.00,0%,66%,0.0,172.72
2,Darion Abbey,9-5-0,265 lbs.,203.2000,Orthodox,"Feb 25, 1993",8.44,50%,14.06,0.00,0%,0%,0.0,187.96
3,David Abbott,10-15-0,265 lbs.,193.8528,Switch,"Apr 26, 1965",1.35,30%,3.55,1.07,33%,66%,0.0,182.88
4,Hamdy Abdelwahab,7-1-0 (1 NC),265 lbs.,182.8800,Southpaw,"Jan 22, 1993",4.27,55%,3.67,3.25,65%,100%,0.0,187.96

In [315]:
df_fighters['stance'] = df_fighters['stance'].fillna("unknown")

In [316]:
printNull(cols_updated)

Null Value and zero counts for fighter metrics
weight: 12
reach: 71
dob: 195
height_cm: 72

In [324]:
df_fighters.drop(df_fighters[df_fighters["weight"].isna()].index, inplace=True)

In [325]:
printNull(cols_updated)

Null Value and zero counts for fighter metrics
reach: 60
dob: 189
height_cm: 61

In [327]:
df_fighters['height_cm'] = df_fighters['height_cm'].fillna(df_fighters['reach'] / 1.06)

In [328]:
printNull(cols_updated)

Null Value and zero counts for fighter metrics
reach: 60
dob: 189
height_cm: 60

In [329]:
df_fighters["weight"] = (
    df_fighters["weight"]
      .str.replace("lbs.", "", regex=False)
      .str.replace("lbs", "", regex=False)
      .str.strip()
      .astype(float)
)

In [331]:
df_fighters["weight_kg"] = df_fighters["weight"] * 0.453592

In [333]:
df_fighters.drop(columns="weight",inplace=True)

In [334]:
df_fighters.head()

,name,record,reach,stance,dob,SLpM,StrAcc,SApM,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg
0,Danny Abbadi,4-6-0,191.1604,Orthodox,"Jul 03, 1983",3.29,38%,4.41,0.00,0%,77%,0.0,180.34,70.30676
1,Nariman Abbasov,28-4-0,167.6400,Orthodox,"Feb 01, 1994",3.00,20%,5.67,0.00,0%,66%,0.0,172.72,70.30676
2,Darion Abbey,9-5-0,203.2000,Orthodox,"Feb 25, 1993",8.44,50%,14.06,0.00,0%,0%,0.0,187.96,120.20188
3,David Abbott,10-15-0,193.8528,Switch,"Apr 26, 1965",1.35,30%,3.55,1.07,33%,66%,0.0,182.88,120.20188
4,Hamdy Abdelwahab,7-1-0 (1 NC),182.8800,Southpaw,"Jan 22, 1993",4.27,55%,3.67,3.25,65%,100%,0.0,187.96,120.20188

In [336]:
cols_updated1 = df_fighters.columns.to_list() 
printNull(cols_updated1)

Null Value and zero counts for fighter metrics
reach: 60
dob: 189
height_cm: 60

In [337]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3739 entries, 0 to 3750
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3739 non-null   object
 1   record     3739 non-null   object
 2   reach      3679 non-null   float64
 3   stance     3739 non-null   object
 4   dob        3550 non-null   object
 5   SLpM       3739 non-null   float64
 6   StrAcc     3739 non-null   object
 7   SApM       3739 non-null   float64
 8   TDAvg      3739 non-null   float64
 9   TDAcc      3739 non-null   object
 10  TDDef      3739 non-null   object
 11  SubAvg     3739 non-null   float64
 12  height_cm  3679 non-null   float64
 13  weight_kg  3739 non-null   float64
dtypes: float64(7), object(7)
memory usage: 438.2+ KB