In [628]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np

#  Loading the datasets

In [629]:
df_fights = pd.read_csv('./dataset/ufc1.csv')
df_fighters = pd.read_csv('./dataset/ufc_fighters1.csv')

# Data Exploring and cleaning ufc fighters dataframe

In [630]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Tom Aaron,5-3-0,--,155 lbs.,--,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,--,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
2,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
3,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0
4,David Abbott,10-15-0,"6' 0""",265 lbs.,--,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0

In [631]:
df_fighters.shape

(4449, 15)

In [632]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4449 non-null   object
 1   record  4449 non-null   object
 2   height  4449 non-null   object
 3   weight  4449 non-null   object
 4   reach   4449 non-null   object
 5   stance  3601 non-null   object
 6   dob     4449 non-null   object
 7   SLpM    4449 non-null   float64
 8   StrAcc  4449 non-null   object
 9   SApM    4449 non-null   float64
 10  StrDef  4449 non-null   object
 11  TDAvg   4449 non-null   float64
 12  TDAcc   4449 non-null   object
 13  TDDef   4449 non-null   object
 14  SubAvg  4449 non-null   float64
dtypes: float64(4), object(11)
memory usage: 521.5+ KB

In [633]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Tom Aaron,5-3-0,--,155 lbs.,--,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,--,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
2,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
3,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0
4,David Abbott,10-15-0,"6' 0""",265 lbs.,--,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0

In [634]:
fighter_cols = df_fighters.columns.to_list()

In [635]:
fighter_cols

['name',
 'record',
 'height',
 'weight',
 'reach',
 'stance',
 'dob',
 'SLpM',
 'StrAcc',
 'SApM',
 'StrDef',
 'TDAvg',
 'TDAcc',
 'TDDef',
 'SubAvg']

# check for columns which are missing all important features

In [636]:
df_fighters.replace("--", np.nan, inplace=True)

In [637]:
indexes_to_drop = df_fighters.loc[(df_fighters["reach"].isna())&(df_fighters["weight"].isna())&(df_fighters["stance"].isna())&(df_fighters["height"].isna())&(df_fighters["SLpM"]==0)&(df_fighters["StrAcc"]=="0%")&(df_fighters["SApM"]==0)&(df_fighters["TDAvg"]==0)&(df_fighters["TDAcc"]=="0%")&(df_fighters["TDDef"]=="0%")&(df_fighters["SubAvg"]==0)&(df_fighters["StrDef"]=="0%")].index

In [638]:
len(indexes_to_drop)

65

In [639]:
df_fighters.drop(indexes_to_drop, inplace=True)

In [640]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4384 entries, 0 to 4448
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4384 non-null   object
 1   record  4384 non-null   object
 2   height  4129 non-null   object
 3   weight  4363 non-null   object
 4   reach   2507 non-null   object
 5   stance  3601 non-null   object
 6   dob     3935 non-null   object
 7   SLpM    4384 non-null   float64
 8   StrAcc  4384 non-null   object
 9   SApM    4384 non-null   float64
 10  StrDef  4384 non-null   object
 11  TDAvg   4384 non-null   float64
 12  TDAcc   4384 non-null   object
 13  TDDef   4384 non-null   object
 14  SubAvg  4384 non-null   float64
dtypes: float64(4), object(11)
memory usage: 548.0+ KB

In [641]:
indexes_to_drop2 = df_fighters.loc[(df_fighters["SLpM"]==0)&(df_fighters["StrAcc"]=="0%")&(df_fighters["SApM"]==0)&(df_fighters["TDAvg"]==0)&(df_fighters["TDAcc"]=="0%")&(df_fighters["TDDef"]=="0%")&(df_fighters["SubAvg"]==0)&(df_fighters["StrDef"]=="0%")].index
len(indexes_to_drop2)

630

In [642]:
df_fighters.drop(indexes_to_drop2, inplace=True)

In [643]:
df_fighters.shape

(3754, 15)

In [644]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3754 entries, 1 to 4448
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3754 non-null   object
 1   record  3754 non-null   object
 2   height  3681 non-null   object
 3   weight  3742 non-null   object
 4   reach   2488 non-null   object
 5   stance  3408 non-null   object
 6   dob     3558 non-null   object
 7   SLpM    3754 non-null   float64
 8   StrAcc  3754 non-null   object
 9   SApM    3754 non-null   float64
 10  StrDef  3754 non-null   object
 11  TDAvg   3754 non-null   float64
 12  TDAcc   3754 non-null   object
 13  TDDef   3754 non-null   object
 14  SubAvg  3754 non-null   float64
dtypes: float64(4), object(11)
memory usage: 469.2+ KB

In [645]:
print("Null Value and zero counts for fighter metrics")
for i in fighter_cols:
    mask = (
        (df_fighters[i] == "0%") |
        (df_fighters[i] == 0) |
        (df_fighters[i].isna())
    )

    count = mask.sum()
    
    if count > 0:
        print(f"{i}: {count}")

Null Value and zero counts for fighter metrics
height: 73
weight: 12
reach: 1266
stance: 346
dob: 196
SLpM: 106
StrAcc: 106
SApM: 31
StrDef: 39
TDAvg: 1168
TDAcc: 1168
TDDef: 862
SubAvg: 1820

In [646]:
df_fighters = df_fighters.reset_index(drop=True)

In [647]:
df_fighters.head(20)

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
1,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
2,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0
3,David Abbott,10-15-0,"6' 0""",265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,7-1-0 (1 NC),"6' 2""",265 lbs.,"72""",Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0
5,Mansur Abdul-Malik,8-0-1,"6' 2""",185 lbs.,"80""",Orthodox,"Oct 07, 1997",4.27,48%,3.49,51%,0.49,33%,82%,0.0
6,Shamil Abdurakhimov,20-8-0,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",2.41,44%,3.02,55%,1.01,23%,45%,0.1
7,Hiroyuki Abe,8-15-3 (1 NC),"5' 6""",145 lbs.,NaN,Orthodox,"Feb 09, 1970",1.71,36%,3.11,63%,0.00,0%,33%,0.0
8,Daichi Abe,6-2-0,"5' 11""",170 lbs.,"71""",Orthodox,"Nov 27, 1991",3.80,33%,4.49,56%,0.33,50%,0%,0.0
9,Papy Abedi,10-4-0,"5' 11""",185 lbs.,NaN,Southpaw,"Jun 30, 1978",2.80,55%,3.15,48%,3.47,57%,50%,1.3
10,Ricardo Abreu,5-1-0,"5' 11""",185 lbs.,NaN,Orthodox,"Apr 27, 1984",3.79,31%,3.98,68%,2.13,42%,100%,0.7
11,Klidson Abreu,15-4-0 (1 NC),"6' 0""",205 lbs.,"74""",Orthodox,"Dec 24, 1992",2.05,40%,2.90,55%,0.64,20%,80%,0.0
12,Daniel Acacio,30-18-0,"5' 8""",180 lbs.,NaN,Orthodox,"Dec 27, 1977",3.52,36%,2.85,62%,0.33,20%,81%,0.0
13,John Adajar,6-2-0,"5' 9""",170 lbs.,"75""",Orthodox,"Jun 22, 1991",3.90,52%,6.28,44%,0.00,0%,0%,0.0
14,Juan Adams,5-3-0,"6' 5""",265 lbs.,"80""",Orthodox,"Jan 16, 1992",7.09,55%,4.06,34%,0.91,66%,57%,0.0
15,Anthony Adams,8-2-0,"6' 1""",185 lbs.,"76""",Orthodox,"Jan 13, 1988",3.17,41%,5.93,44%,0.00,0%,0%,0.0
16,Zarrukh Adashev,4-4-0,"5' 5""",125 lbs.,"65""",Southpaw,"Jul 29, 1992",3.65,40%,3.04,64%,0.00,0%,100%,0.5
17,Israel Adesanya,24-5-0,"6' 4""",185 lbs.,"80""",Switch,"Jul 22, 1989",4.02,48%,3.20,55%,0.05,11%,76%,0.1
18,Mohamed Ado,5-1-0,"5' 11""",170 lbs.,"76""",Switch,"May 03, 2000",1.66,83%,0.33,75%,4.97,50%,50%,5.0
19,Nick Agallar,24-6-0,"5' 8""",155 lbs.,NaN,Orthodox,"Jan 13, 1979",0.69,11%,4.56,42%,0.00,0%,0%,0.0

In [648]:
# check if there are fighters with the same name
df_fighters[df_fighters.duplicated(subset="name", keep=False)]

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
1166,Joey Gomez,6-2-0,"5' 10""",135 lbs.,"73""",Orthodox,"Jul 21, 1986",2.44,28%,4.46,55%,0.62,100%,50%,0.0
1168,Joey Gomez,7-1-0,"5' 10""",155 lbs.,"71""",Orthodox,"Aug 29, 1989",3.73,49%,3.33,50%,2.00,28%,0%,0.0
1551,Tony Johnson,7-2-0,"6' 2""",205 lbs.,"76""",Orthodox,"May 02, 1983",4.00,92%,3.67,22%,0.00,0%,90%,0.0
1559,Tony Johnson,11-3-0,"6' 1""",265 lbs.,NaN,NaN,NaN,2.00,53%,4.73,31%,2.00,22%,0%,0.0
2095,Michael McDonald,1-1-0,"5' 11""",205 lbs.,NaN,Orthodox,"Feb 06, 1965",0.00,0%,0.40,50%,0.00,0%,0%,0.0
2096,Michael McDonald,17-4-0,"5' 9""",135 lbs.,"70""",Orthodox,"Jan 15, 1991",2.69,42%,2.76,57%,1.09,66%,52%,1.4
3098,Jean Silva,19-12-3 (1 NC),"5' 6""",160 lbs.,NaN,Orthodox,"Oct 08, 1977",0.73,22%,2.93,52%,0.00,0%,0%,0.0
3112,Bruno Silva,15-7-2 (1 NC),"5' 4""",125 lbs.,"65""",Orthodox,"Mar 16, 1990",3.82,50%,4.55,52%,2.30,29%,63%,0.3
3113,Bruno Silva,23-13-0,"6' 0""",185 lbs.,"74""",Orthodox,"Jul 13, 1989",3.86,48%,5.35,41%,0.77,22%,74%,0.0
3123,Jean Silva,16-3-0,"5' 7""",145 lbs.,"69""",Orthodox,"Dec 27, 1996",4.79,51%,4.69,54%,0.50,50%,78%,0.8
3464,Victor Valenzuela,13-6-2,"5' 10""",155 lbs.,NaN,NaN,NaN,1.28,100%,2.55,0%,0.00,0%,0%,0.0
3466,Victor Valenzuela,12-4-0,"5' 9""",170 lbs.,"71""",Orthodox,"Feb 09, 1994",3.36,33%,8.40,48%,0.00,0%,0%,0.0

In [649]:
df_fighters.iloc[1168,0] = 'Joey Gomez 155'
df_fighters.iloc[1559,0] = 'Tony Johnson 265'
df_fighters.iloc[2096,0] = 'Michael McDonald 135'
df_fighters.iloc[3123,0] = 'Jean Silva 145'
df_fighters.iloc[3113,0] = 'Bruno Silva 185'
df_fighters.iloc[3466,0] = 'Victor Valenzuela 170'

In [650]:
df_fighters[df_fighters['name']=='Joey Gomez 155']

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
1168,Joey Gomez 155,7-1-0,"5' 10""",155 lbs.,"71""",Orthodox,"Aug 29, 1989",3.73,49%,3.33,50%,2.0,28%,0%,0.0

In [651]:
# check if there are fighters with the same name
df_fighters[df_fighters.duplicated(subset="name", keep=False)]

Empty DataFrame
Columns: [name, record, height, weight, reach, stance, dob, SLpM, StrAcc, SApM, StrDef, TDAvg, TDAcc, TDDef, SubAvg]
Index: []

In [652]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3754 entries, 0 to 3753
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3754 non-null   object
 1   record  3754 non-null   object
 2   height  3681 non-null   object
 3   weight  3742 non-null   object
 4   reach   2488 non-null   object
 5   stance  3408 non-null   object
 6   dob     3558 non-null   object
 7   SLpM    3754 non-null   float64
 8   StrAcc  3754 non-null   object
 9   SApM    3754 non-null   float64
 10  StrDef  3754 non-null   object
 11  TDAvg   3754 non-null   float64
 12  TDAcc   3754 non-null   object
 13  TDDef   3754 non-null   object
 14  SubAvg  3754 non-null   float64
dtypes: float64(4), object(11)
memory usage: 440.1+ KB

In [653]:
def printNull(cls):
    
    print("Null Value and zero counts for fighter metrics")
    for i in cls:
        mask = (
            (df_fighters[i].isna()) 
            
        )
    
        count = mask.sum()
        
        if count > 0:
            print(f"{i}: {count}")

In [654]:
printNull(fighter_cols)

Null Value and zero counts for fighter metrics
height: 73
weight: 12
reach: 1266
stance: 346
dob: 196

In [655]:
df_fighters[df_fighters['height'].isna()]

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
42,Israel Albuquerque,0-3-0,NaN,185 lbs.,NaN,Orthodox,NaN,0.32,13%,3.34,25%,0.0,0%,0%,0.0
129,Angelo Antonio,1-4-0,NaN,205 lbs.,NaN,Orthodox,"Oct 04, 1998",1.09,50%,7.64,50%,0.0,0%,0%,0.0
316,Tom Blackledge,10-7-0,NaN,205 lbs.,NaN,Orthodox,NaN,2.91,61%,2.55,46%,0.0,0%,75%,0.0
382,Mack Brewer,0-1-0,NaN,205 lbs.,NaN,NaN,NaN,0.00,0%,6.67,36%,0.0,0%,0%,0.0
492,Remo Cardarelli,7-5-0,NaN,135 lbs.,NaN,NaN,NaN,2.27,47%,1.47,59%,0.0,0%,100%,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3584,Sam Watford,2-2-0,NaN,155 lbs.,NaN,NaN,NaN,0.13,18%,0.73,62%,2.0,40%,60%,1.0
3585,Blake Watkins,5-1-0,NaN,185 lbs.,NaN,NaN,NaN,5.45,62%,7.64,61%,0.0,0%,0%,0.0
3587,Maka Watson,4-2-0,NaN,155 lbs.,NaN,NaN,"Sep 22, 1984",0.93,37%,1.60,22%,2.0,100%,33%,0.0
3605,Aaron Wetherspoon,9-5-0 (1 NC),NaN,170 lbs.,NaN,NaN,"Jan 11, 1979",2.27,32%,4.33,45%,0.0,0%,77%,0.0
3746,Mike Zichelle,8-4-0,NaN,205 lbs.,NaN,NaN,NaN,0.87,35%,0.87,40%,0.0,0%,0%,2.0

In [656]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
1,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,"66""",Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
2,Darion Abbey,9-5-0,"6' 2""",265 lbs.,"80""",Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0
3,David Abbott,10-15-0,"6' 0""",265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,7-1-0 (1 NC),"6' 2""",265 lbs.,"72""",Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0

In [657]:
#Reach to centimeters
df_fighters['reach'] = df_fighters['reach'].astype(str).str.replace('"', '')
df_fighters['reach'] = pd.to_numeric(df_fighters['reach'], errors='coerce')
df_fighters['reach'] = df_fighters['reach']*2.54

# fill reach  height * 1.06
#df['height_in'] = df['height'].str.extract(r"(\d+)").astype(float) * 12 + df['height'].str.extract(r"' (\d+)").astype(float)
#df['reach'] = df['reach'].fillna(df['height_in'] * 1.06)

In [658]:
df_fighters.head()

,name,record,height,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg
0,Danny Abbadi,4-6-0,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
1,Nariman Abbasov,28-4-0,"5' 8""",155 lbs.,167.64,Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0
2,Darion Abbey,9-5-0,"6' 2""",265 lbs.,203.20,Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0
3,David Abbott,10-15-0,"6' 0""",265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,7-1-0 (1 NC),"6' 2""",265 lbs.,182.88,Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0

In [659]:
def height_to_cm(h):
    if pd.isna(h): 
        return np.nan
    match = re.match(r"(\d+)' (\d+)", h)
    if match:
        feet = int(match.group(1))
        inches = int(match.group(2))
        total_inches = feet * 12 + inches
        return total_inches * 2.54
    return np.nan

df_fighters['height_cm'] = df_fighters['height'].apply(height_to_cm)

In [660]:
df_fighters.drop(columns="height", inplace=True)

In [661]:
df_fighters.head()

,name,record,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm
0,Danny Abbadi,4-6-0,155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0,180.34
1,Nariman Abbasov,28-4-0,155 lbs.,167.64,Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0,172.72
2,Darion Abbey,9-5-0,265 lbs.,203.20,Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0,187.96
3,David Abbott,10-15-0,265 lbs.,NaN,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0,182.88
4,Hamdy Abdelwahab,7-1-0 (1 NC),265 lbs.,182.88,Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0,187.96

In [662]:
#common ufc fighter height reach ratio
df_fighters['reach'] = df_fighters['reach'].fillna(df_fighters['height_cm'] * 1.06)

In [663]:
cols_updated = df_fighters.columns.to_list()
printNull(cols_updated)

Null Value and zero counts for fighter metrics
weight: 12
reach: 72
stance: 346
dob: 196
height_cm: 73

In [664]:
df_fighters.head()

,name,record,weight,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm
0,Danny Abbadi,4-6-0,155 lbs.,191.1604,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0,180.34
1,Nariman Abbasov,28-4-0,155 lbs.,167.6400,Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0,172.72
2,Darion Abbey,9-5-0,265 lbs.,203.2000,Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0,187.96
3,David Abbott,10-15-0,265 lbs.,193.8528,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0,182.88
4,Hamdy Abdelwahab,7-1-0 (1 NC),265 lbs.,182.8800,Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0,187.96

In [665]:
df_fighters['stance'] = df_fighters['stance'].fillna("unknown")

In [666]:
printNull(cols_updated)

Null Value and zero counts for fighter metrics
weight: 12
reach: 72
dob: 196
height_cm: 73

In [667]:
df_fighters.drop(df_fighters[df_fighters["weight"].isna()].index, inplace=True)

In [668]:
printNull(cols_updated)

Null Value and zero counts for fighter metrics
reach: 61
dob: 190
height_cm: 62

In [669]:
df_fighters['height_cm'] = df_fighters['height_cm'].fillna(df_fighters['reach'] / 1.06)

In [670]:
printNull(cols_updated)

Null Value and zero counts for fighter metrics
reach: 61
dob: 190
height_cm: 61

In [671]:
df_fighters["weight"] = (
    df_fighters["weight"]
      .str.replace("lbs.", "", regex=False)
      .str.replace("lbs", "", regex=False)
      .str.strip()
      .astype(float)
)

In [672]:
df_fighters["weight_kg"] = df_fighters["weight"] * 0.453592

In [673]:
df_fighters.drop(columns="weight",inplace=True)

In [674]:
df_fighters.head()

,name,record,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg
0,Danny Abbadi,4-6-0,191.1604,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0,180.34,70.30676
1,Nariman Abbasov,28-4-0,167.6400,Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0,172.72,70.30676
2,Darion Abbey,9-5-0,203.2000,Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0,187.96,120.20188
3,David Abbott,10-15-0,193.8528,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0,182.88,120.20188
4,Hamdy Abdelwahab,7-1-0 (1 NC),182.8800,Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0,187.96,120.20188

In [675]:
cols_updated1 = df_fighters.columns.to_list() 
printNull(cols_updated1)

Null Value and zero counts for fighter metrics
reach: 61
dob: 190
height_cm: 61

In [676]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3742 entries, 0 to 3753
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3742 non-null   object
 1   record     3742 non-null   object
 2   reach      3681 non-null   float64
 3   stance     3742 non-null   object
 4   dob        3552 non-null   object
 5   SLpM       3742 non-null   float64
 6   StrAcc     3742 non-null   object
 7   SApM       3742 non-null   float64
 8   StrDef     3742 non-null   object
 9   TDAvg      3742 non-null   float64
 10  TDAcc      3742 non-null   object
 11  TDDef      3742 non-null   object
 12  SubAvg     3742 non-null   float64
 13  height_cm  3681 non-null   float64
 14  weight_kg  3742 non-null   float64
dtypes: float64(7), object(8)
memory usage: 467.8+ KB

In [677]:
df_fighters.drop(df_fighters[df_fighters['reach'].isna()].index,inplace=True)

In [678]:
printNull(cols_updated1)

Null Value and zero counts for fighter metrics
dob: 150

In [679]:
df_fighters.drop(df_fighters[df_fighters['dob'].isna()].index,inplace=True)

In [680]:
printNull(cols_updated1)

Null Value and zero counts for fighter metrics

In [681]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3531 entries, 0 to 3753
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3531 non-null   object
 1   record     3531 non-null   object
 2   reach      3531 non-null   float64
 3   stance     3531 non-null   object
 4   dob        3531 non-null   object
 5   SLpM       3531 non-null   float64
 6   StrAcc     3531 non-null   object
 7   SApM       3531 non-null   float64
 8   StrDef     3531 non-null   object
 9   TDAvg      3531 non-null   float64
 10  TDAcc      3531 non-null   object
 11  TDDef      3531 non-null   object
 12  SubAvg     3531 non-null   float64
 13  height_cm  3531 non-null   float64
 14  weight_kg  3531 non-null   float64
dtypes: float64(7), object(8)
memory usage: 441.4+ KB

In [682]:
df_fighters.head()

,name,record,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg
0,Danny Abbadi,4-6-0,191.1604,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0,180.34,70.30676
1,Nariman Abbasov,28-4-0,167.6400,Orthodox,"Feb 01, 1994",3.00,20%,5.67,46%,0.00,0%,66%,0.0,172.72,70.30676
2,Darion Abbey,9-5-0,203.2000,Orthodox,"Feb 25, 1993",8.44,50%,14.06,28%,0.00,0%,0%,0.0,187.96,120.20188
3,David Abbott,10-15-0,193.8528,Switch,"Apr 26, 1965",1.35,30%,3.55,38%,1.07,33%,66%,0.0,182.88,120.20188
4,Hamdy Abdelwahab,7-1-0 (1 NC),182.8800,Southpaw,"Jan 22, 1993",4.27,55%,3.67,51%,3.25,65%,100%,0.0,187.96,120.20188

In [683]:
percent_cols = ["StrAcc","StrDef", "TDAcc", "TDDef"]

for col in percent_cols:
    df_fighters[col] = (
        df_fighters[col]
        .str.replace("%", "", regex=False)
        .str.replace("--", "", regex=False)
    )
    df_fighters[col] = pd.to_numeric(df_fighters[col], errors="coerce") / 100

In [684]:
df_fighters.head()

,name,record,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg
0,Danny Abbadi,4-6-0,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,0.77,0.0,180.34,70.30676
1,Nariman Abbasov,28-4-0,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,0.66,0.0,172.72,70.30676
2,Darion Abbey,9-5-0,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,0.00,0.0,187.96,120.20188
3,David Abbott,10-15-0,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,0.66,0.0,182.88,120.20188
4,Hamdy Abdelwahab,7-1-0 (1 NC),182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,1.00,0.0,187.96,120.20188

In [685]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3531 entries, 0 to 3753
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3531 non-null   object
 1   record     3531 non-null   object
 2   reach      3531 non-null   float64
 3   stance     3531 non-null   object
 4   dob        3531 non-null   object
 5   SLpM       3531 non-null   float64
 6   StrAcc     3531 non-null   float64
 7   SApM       3531 non-null   float64
 8   StrDef     3531 non-null   float64
 9   TDAvg      3531 non-null   float64
 10  TDAcc      3531 non-null   float64
 11  TDDef      3531 non-null   float64
 12  SubAvg     3531 non-null   float64
 13  height_cm  3531 non-null   float64
 14  weight_kg  3531 non-null   float64
dtypes: float64(11), object(4)
memory usage: 441.4+ KB

In [686]:
# split wins losses and draws, NC s seperately
def split_record(record):
    if pd.isna(record):
        return pd.Series([None, None, None, None])

    # Extract: wins-losses-draws
    base = record.split("(")[0].strip()       # "7-1-0" or "4-6-0"
    wins, losses, draws = base.split("-")

    # Extract NC if present
    nc_match = re.search(r"\((\d+)\s*NC\)", record)
    nc = int(nc_match.group(1)) if nc_match else 0

    return pd.Series([int(wins), int(losses), int(draws), nc])


# ---- APPLY TO DATAFRAME ----
df_fighters[["wins", "losses", "draws", "nc"]] = df_fighters["record"].apply(split_record)

In [687]:
df_fighters.head()

,name,record,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg,wins,losses,draws,nc
0,Danny Abbadi,4-6-0,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,0.77,0.0,180.34,70.30676,4,6,0,0
1,Nariman Abbasov,28-4-0,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,0.66,0.0,172.72,70.30676,28,4,0,0
2,Darion Abbey,9-5-0,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,0.00,0.0,187.96,120.20188,9,5,0,0
3,David Abbott,10-15-0,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,0.66,0.0,182.88,120.20188,10,15,0,0
4,Hamdy Abdelwahab,7-1-0 (1 NC),182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,1.00,0.0,187.96,120.20188,7,1,0,1

In [688]:
df_fighters.drop(columns='record', inplace=True)

In [689]:
df_fighters.head()

,name,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg,wins,losses,draws,nc
0,Danny Abbadi,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,0.77,0.0,180.34,70.30676,4,6,0,0
1,Nariman Abbasov,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,0.66,0.0,172.72,70.30676,28,4,0,0
2,Darion Abbey,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,0.00,0.0,187.96,120.20188,9,5,0,0
3,David Abbott,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,0.66,0.0,182.88,120.20188,10,15,0,0
4,Hamdy Abdelwahab,182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,1.00,0.0,187.96,120.20188,7,1,0,1

In [690]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3531 entries, 0 to 3753
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3531 non-null   object
 1   reach      3531 non-null   float64
 2   stance     3531 non-null   object
 3   dob        3531 non-null   object
 4   SLpM       3531 non-null   float64
 5   StrAcc     3531 non-null   float64
 6   SApM       3531 non-null   float64
 7   StrDef     3531 non-null   float64
 8   TDAvg      3531 non-null   float64
 9   TDAcc      3531 non-null   float64
 10  TDDef      3531 non-null   float64
 11  SubAvg     3531 non-null   float64
 12  height_cm  3531 non-null   float64
 13  weight_kg  3531 non-null   float64
 14  wins       3531 non-null   int64
 15  losses     3531 non-null   int64
 16  draws      3531 non-null   int64
 17  nc         3531 non-null   int64
dtypes: float64(11), int64(4), object(3)
memory usage: 524.1+ KB

In [691]:
def dob_to_age(dob):
    if pd.isna(dob):
        return None
    try:
        birthdate = pd.to_datetime(dob)
        today = pd.Timestamp.today()
        age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))
        return age
    except:
        return None

df_fighters["age"] = df_fighters["dob"].apply(dob_to_age)

In [692]:
df_fighters.head()

,name,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg,wins,losses,draws,nc,age
0,Danny Abbadi,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,0.77,0.0,180.34,70.30676,4,6,0,0,42
1,Nariman Abbasov,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,0.66,0.0,172.72,70.30676,28,4,0,0,31
2,Darion Abbey,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,0.00,0.0,187.96,120.20188,9,5,0,0,32
3,David Abbott,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,0.66,0.0,182.88,120.20188,10,15,0,0,60
4,Hamdy Abdelwahab,182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,1.00,0.0,187.96,120.20188,7,1,0,1,32

In [693]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3531 entries, 0 to 3753
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3531 non-null   object
 1   reach      3531 non-null   float64
 2   stance     3531 non-null   object
 3   dob        3531 non-null   object
 4   SLpM       3531 non-null   float64
 5   StrAcc     3531 non-null   float64
 6   SApM       3531 non-null   float64
 7   StrDef     3531 non-null   float64
 8   TDAvg      3531 non-null   float64
 9   TDAcc      3531 non-null   float64
 10  TDDef      3531 non-null   float64
 11  SubAvg     3531 non-null   float64
 12  height_cm  3531 non-null   float64
 13  weight_kg  3531 non-null   float64
 14  wins       3531 non-null   int64
 15  losses     3531 non-null   int64
 16  draws      3531 non-null   int64
 17  nc         3531 non-null   int64
 18  age        3531 non-null   int64
dtypes: float64(11), int64(5), object(3)
memory usage: 551.7+ KB

In [694]:
df_fighters["total_fights"] = df_fighters["wins"] + df_fighters["losses"] + df_fighters["draws"]
df_fighters["win_rate"] = df_fighters["wins"] / df_fighters["total_fights"]

In [695]:
df_fighters.head()

,name,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,...,SubAvg,height_cm,weight_kg,wins,losses,draws,nc,age,total_fights,win_rate
0,Danny Abbadi,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,...,0.0,180.34,70.30676,4,6,0,0,42,10,0.400000
1,Nariman Abbasov,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,...,0.0,172.72,70.30676,28,4,0,0,31,32,0.875000
2,Darion Abbey,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,...,0.0,187.96,120.20188,9,5,0,0,32,14,0.642857
3,David Abbott,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,...,0.0,182.88,120.20188,10,15,0,0,60,25,0.400000
4,Hamdy Abdelwahab,182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,...,0.0,187.96,120.20188,7,1,0,1,32,8,0.875000

In [696]:
df_fighters.loc[(df_fighters['win_rate']==1) & (df_fighters['total_fights']>10)]

,name,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,...,SubAvg,height_cm,weight_kg,wins,losses,draws,nc,age,total_fights,win_rate
62,Nurullo Aliev,182.8800,Orthodox,"Dec 08, 2000",2.72,0.44,1.63,0.58,2.12,0.43,...,0.3,177.80,70.30676,11,0,0,0,24,11,1.0
244,Farid Basharat,180.3400,Orthodox,"Aug 02, 1997",4.05,0.52,2.47,0.60,3.60,0.47,...,0.4,172.72,61.23492,14,0,0,0,28,14,1.0
560,Khamzat Chimaev,190.5000,Orthodox,"May 01, 1994",4.04,0.60,2.32,0.43,5.29,0.55,...,1.8,187.96,83.91452,15,0,0,0,31,15,1.0
936,Rafael Estevam,175.2600,Orthodox,"Aug 10, 1996",2.10,0.54,2.59,0.47,6.01,0.38,...,0.3,172.72,56.69900,14,0,0,0,29,14,1.0
948,Movsar Evloev,182.8800,Orthodox,"Feb 11, 1994",3.99,0.48,2.66,0.60,4.67,0.48,...,0.2,170.18,65.77084,19,0,0,0,31,19,1.0
1003,Torrez Finney,190.5000,Orthodox,"Oct 24, 1998",1.77,0.68,1.74,0.48,9.31,0.60,...,1.1,172.72,83.91452,11,0,0,0,27,11,1.0
1102,Tommy Gantt,193.0400,Orthodox,"Jan 09, 1993",1.08,1.00,0.36,0.66,10.78,0.40,...,5.4,180.34,70.30676,11,0,0,1,32,11,1.0
1539,Ramiro Jimenez,185.4200,Southpaw,"Jan 16, 1999",14.22,0.65,2.43,0.82,5.20,1.00,...,0.0,175.26,65.77084,11,0,0,0,26,11,1.0
1668,Aliaskhab Khizriev,187.9600,Southpaw,"Aug 24, 1990",6.01,0.64,4.38,0.61,5.64,0.60,...,3.8,175.26,83.91452,14,0,0,1,35,14,1.0
1877,Andre Lima,170.1800,Orthodox,"Feb 04, 1999",4.06,0.60,2.49,0.57,1.36,0.75,...,1.1,170.18,56.69900,11,0,0,0,26,11,1.0
2169,Phillip Miller,191.1604,Orthodox,"Feb 20, 1979",1.61,0.54,1.93,0.50,3.62,0.25,...,0.6,180.34,83.91452,16,0,0,0,46,16,1.0
2220,Muhammad Mokaev,177.8000,Orthodox,"Jul 30, 2000",1.61,0.45,1.35,0.57,5.29,0.41,...,0.8,170.18,56.69900,13,0,0,1,25,13,1.0
2251,Michael Morales,200.6600,Orthodox,"Jun 24, 1999",5.68,0.49,3.26,0.53,1.04,0.41,...,0.0,182.88,77.11064,19,0,0,0,26,19,1.0
2299,Samandar Murodov,190.5000,Orthodox,"Aug 28, 1999",1.50,0.75,0.50,0.44,6.01,0.66,...,1.5,185.42,77.11064,11,0,0,0,26,11,1.0
2309,Azamat Murzakanov,180.3400,Southpaw,"Apr 12, 1989",4.70,0.57,2.86,0.60,0.55,0.15,...,0.0,177.80,92.98636,16,0,0,0,36,16,1.0
2416,Khabib Nurmagomedov,177.8000,Orthodox,"Sep 20, 1988",4.10,0.48,1.75,0.65,5.32,0.48,...,0.8,177.80,70.30676,29,0,0,0,37,29,1.0
2638,Mario Pinto,200.6600,Orthodox,"Mar 14, 1998",3.39,0.78,2.42,0.53,2.72,0.60,...,1.8,195.58,120.20188,11,0,0,0,27,11,1.0
2709,Shavkat Rakhmonov,195.5800,Orthodox,"Oct 23, 1994",3.25,0.60,2.17,0.51,1.40,0.25,...,1.2,185.42,77.11064,19,0,0,0,31,19,1.0
2779,Luke Riley,175.2600,Orthodox,"Jun 30, 1999",2.55,0.60,1.27,0.46,0.00,0.00,...,0.0,175.26,65.77084,12,0,0,0,26,12,1.0
3164,Jacobe Smith,182.8800,Southpaw,"Jan 17, 1996",6.21,0.66,2.86,0.47,7.42,0.90,...,0.8,177.80,77.11064,11,0,0,0,29,11,1.0
3191,Dmitry Sosnovskiy,195.5800,Orthodox,"Jul 06, 1989",2.95,0.70,2.53,0.35,3.16,0.66,...,3.2,190.50,108.86208,11,0,0,0,36,11,1.0
3289,Baisangur Susurkaev,200.6600,Orthodox,"Jan 08, 2001",4.56,0.59,3.78,0.53,2.76,0.28,...,0.7,187.96,83.91452,11,0,0,0,24,11,1.0
3397,Ilia Topuria,175.2600,Orthodox,"Jan 21, 1997",4.81,0.48,3.83,0.64,1.96,0.61,...,1.1,170.18,70.30676,17,0,0,0,28,17,1.0

In [697]:
df_fighters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3531 entries, 0 to 3753
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          3531 non-null   object
 1   reach         3531 non-null   float64
 2   stance        3531 non-null   object
 3   dob           3531 non-null   object
 4   SLpM          3531 non-null   float64
 5   StrAcc        3531 non-null   float64
 6   SApM          3531 non-null   float64
 7   StrDef        3531 non-null   float64
 8   TDAvg         3531 non-null   float64
 9   TDAcc         3531 non-null   float64
 10  TDDef         3531 non-null   float64
 11  SubAvg        3531 non-null   float64
 12  height_cm     3531 non-null   float64
 13  weight_kg     3531 non-null   float64
 14  wins          3531 non-null   int64
 15  losses        3531 non-null   int64
 16  draws         3531 non-null   int64
 17  nc            3531 non-null   int64
 18  age           3531 non-null   int64
 19  total_fights  3531 non-null   int64
 20  win_rate      3531 non-null   float64
dtypes: float64(12), int64(6), object(3)
memory usage: 606.9+ KB

In [698]:
df_fighters["stance_encoded"] = df_fighters["stance"].astype("category").cat.codes

In [699]:
df_fighters.head()

,name,reach,stance,dob,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,...,height_cm,weight_kg,wins,losses,draws,nc,age,total_fights,win_rate,stance_encoded
0,Danny Abbadi,191.1604,Orthodox,"Jul 03, 1983",3.29,0.38,4.41,0.57,0.00,0.00,...,180.34,70.30676,4,6,0,0,42,10,0.400000,1
1,Nariman Abbasov,167.6400,Orthodox,"Feb 01, 1994",3.00,0.20,5.67,0.46,0.00,0.00,...,172.72,70.30676,28,4,0,0,31,32,0.875000,1
2,Darion Abbey,203.2000,Orthodox,"Feb 25, 1993",8.44,0.50,14.06,0.28,0.00,0.00,...,187.96,120.20188,9,5,0,0,32,14,0.642857,1
3,David Abbott,193.8528,Switch,"Apr 26, 1965",1.35,0.30,3.55,0.38,1.07,0.33,...,182.88,120.20188,10,15,0,0,60,25,0.400000,4
4,Hamdy Abdelwahab,182.8800,Southpaw,"Jan 22, 1993",4.27,0.55,3.67,0.51,3.25,0.65,...,187.96,120.20188,7,1,0,1,32,8,0.875000,3

In [700]:
df_fighters1 = df_fighters.drop(columns=['dob','stance'])

In [701]:
df_fighters1.head()

,name,reach,SLpM,StrAcc,SApM,StrDef,TDAvg,TDAcc,TDDef,SubAvg,height_cm,weight_kg,wins,losses,draws,nc,age,total_fights,win_rate,stance_encoded
0,Danny Abbadi,191.1604,3.29,0.38,4.41,0.57,0.00,0.00,0.77,0.0,180.34,70.30676,4,6,0,0,42,10,0.400000,1
1,Nariman Abbasov,167.6400,3.00,0.20,5.67,0.46,0.00,0.00,0.66,0.0,172.72,70.30676,28,4,0,0,31,32,0.875000,1
2,Darion Abbey,203.2000,8.44,0.50,14.06,0.28,0.00,0.00,0.00,0.0,187.96,120.20188,9,5,0,0,32,14,0.642857,1
3,David Abbott,193.8528,1.35,0.30,3.55,0.38,1.07,0.33,0.66,0.0,182.88,120.20188,10,15,0,0,60,25,0.400000,4
4,Hamdy Abdelwahab,182.8800,4.27,0.55,3.67,0.51,3.25,0.65,1.00,0.0,187.96,120.20188,7,1,0,1,32,8,0.875000,3

# UFC Fights dataframe pre processing

In [702]:
df_fights.head()

,fighter_1,fighter_2,date,location,referee,fighter_1_kd,fighter_2_kd,fighter_1_sig_str,fighter_2_sig_str,fighter_1_td,fighter_2_td,fighter_1_sub,fighter_2_sub,result,winner,weight_class,method,rounds,time,title_fight
0,Arman Tsarukyan,Dan Hooker,"November 22, 2025","Doha, Qatar",Marc Goddard,0,0,42,10,2,0,1,2,win,Arman Tsarukyan,Lightweight,SUB Arm Triangle,2,3:34,False
1,Ian Machado Garry,Belal Muhammad,"November 22, 2025","Doha, Qatar",Rich Mitchell,0,0,72,56,0,0,0,0,win,Ian Machado Garry,Welterweight,U-DEC,3,5:00,False
2,Volkan Oezdemir,Alonzo Menifield,"November 22, 2025","Doha, Qatar",Marc Goddard,1,0,13,2,0,0,0,0,win,Volkan Oezdemir,Light Heavyweight,KO/TKO Punches,1,1:27,False
3,Myktybek Orolbai,Jack Hermansson,"November 22, 2025","Doha, Qatar",Daniel Movahedi,1,0,15,19,0,0,0,0,win,Myktybek Orolbai,Welterweight,KO/TKO Punch,1,2:46,False
4,Waldo Cortes Acosta,Shamil Gaziev,"November 22, 2025","Doha, Qatar",Lukasz Bosacki,2,0,10,6,0,0,0,0,win,Waldo Cortes Acosta,Heavyweight,KO/TKO Punch,1,1:22,False

In [703]:
df_fights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8208 entries, 0 to 8207
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fighter_1          8208 non-null   object
 1   fighter_2          8208 non-null   object
 2   date               8208 non-null   object
 3   location           8208 non-null   object
 4   referee            8183 non-null   object
 5   fighter_1_kd       8208 non-null   int64
 6   fighter_2_kd       8208 non-null   int64
 7   fighter_1_sig_str  8208 non-null   int64
 8   fighter_2_sig_str  8208 non-null   int64
 9   fighter_1_td       8208 non-null   int64
 10  fighter_2_td       8208 non-null   int64
 11  fighter_1_sub      8208 non-null   int64
 12  fighter_2_sub      8208 non-null   int64
 13  result             8208 non-null   object
 14  winner             8208 non-null   object
 15  weight_class       8208 non-null   object
 16  method             8208 non-null   object
 17  rounds             8208 non-null   int64
 18  time               8208 non-null   object
 19  title_fight        8208 non-null   bool
dtypes: bool(1), int64(9), object(10)
memory usage: 1.2+ MB

In [704]:
df_fights.drop(df_fights[df_fights['referee'].isna()].index, inplace=True)

In [705]:
df_fights.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8183 entries, 0 to 8207
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fighter_1          8183 non-null   object
 1   fighter_2          8183 non-null   object
 2   date               8183 non-null   object
 3   location           8183 non-null   object
 4   referee            8183 non-null   object
 5   fighter_1_kd       8183 non-null   int64
 6   fighter_2_kd       8183 non-null   int64
 7   fighter_1_sig_str  8183 non-null   int64
 8   fighter_2_sig_str  8183 non-null   int64
 9   fighter_1_td       8183 non-null   int64
 10  fighter_2_td       8183 non-null   int64
 11  fighter_1_sub      8183 non-null   int64
 12  fighter_2_sub      8183 non-null   int64
 13  result             8183 non-null   object
 14  winner             8183 non-null   object
 15  weight_class       8183 non-null   object
 16  method             8183 non-null   object
 17  rounds             8183 non-null   int64
 18  time               8183 non-null   object
 19  title_fight        8183 non-null   bool
dtypes: bool(1), int64(9), object(10)
memory usage: 1.3+ MB

In [706]:
df_fights['date'] = pd.to_datetime(df_fights['date'])

In [707]:
df_fights['time'] = pd.to_datetime(df_fights['time'], format='%M:%S').dt.time

In [710]:
df_fights.head()

,fighter_1,fighter_2,date,location,referee,fighter_1_kd,fighter_2_kd,fighter_1_sig_str,fighter_2_sig_str,fighter_1_td,fighter_2_td,fighter_1_sub,fighter_2_sub,result,winner,weight_class,method,rounds,time,title_fight
0,Arman Tsarukyan,Dan Hooker,2025-11-22,"Doha, Qatar",Marc Goddard,0,0,42,10,2,0,1,2,win,Arman Tsarukyan,Lightweight,SUB Arm Triangle,2,00:03:34,False
1,Ian Machado Garry,Belal Muhammad,2025-11-22,"Doha, Qatar",Rich Mitchell,0,0,72,56,0,0,0,0,win,Ian Machado Garry,Welterweight,U-DEC,3,00:05:00,False
2,Volkan Oezdemir,Alonzo Menifield,2025-11-22,"Doha, Qatar",Marc Goddard,1,0,13,2,0,0,0,0,win,Volkan Oezdemir,Light Heavyweight,KO/TKO Punches,1,00:01:27,False
3,Myktybek Orolbai,Jack Hermansson,2025-11-22,"Doha, Qatar",Daniel Movahedi,1,0,15,19,0,0,0,0,win,Myktybek Orolbai,Welterweight,KO/TKO Punch,1,00:02:46,False
4,Waldo Cortes Acosta,Shamil Gaziev,2025-11-22,"Doha, Qatar",Lukasz Bosacki,2,0,10,6,0,0,0,0,win,Waldo Cortes Acosta,Heavyweight,KO/TKO Punch,1,00:01:22,False

In [714]:
df_fights.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8183 entries, 0 to 8207
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fighter_1          8183 non-null   object
 1   fighter_2          8183 non-null   object
 2   date               8183 non-null   datetime64[ns]
 3   location           8183 non-null   object
 4   referee            8183 non-null   object
 5   fighter_1_kd       8183 non-null   int64
 6   fighter_2_kd       8183 non-null   int64
 7   fighter_1_sig_str  8183 non-null   int64
 8   fighter_2_sig_str  8183 non-null   int64
 9   fighter_1_td       8183 non-null   int64
 10  fighter_2_td       8183 non-null   int64
 11  fighter_1_sub      8183 non-null   int64
 12  fighter_2_sub      8183 non-null   int64
 13  result             8183 non-null   object
 14  winner             8183 non-null   object
 15  weight_class       8183 non-null   object
 16  method             8183 non-null   object
 17  rounds             8183 non-null   int64
 18  time               8183 non-null   object
 19  title_fight        8183 non-null   bool
dtypes: bool(1), datetime64[ns](1), int64(9), object(9)
memory usage: 1.3+ MB

In [715]:
def print_unique_value(df):   
    for col in df:
        if df[col].dtype == "object":
            print(col, ": ",df[col].unique())

In [716]:
df_fights.result.unique()

array(['win', 'nc', 'draw\n\n\ndraw', 'nc\n\n\nnc'], dtype=object)

In [718]:
df_fights['result'] = (
    df_fights['result']
    .str.lower()
    .str.replace(r'\s+', '', regex=True)   # remove all whitespace/newlines
    .str.replace(r'(draw)+', 'draw', regex=True)
    .str.replace(r'(nc)+', 'nc', regex=True)
)

In [719]:
df_fights.result.unique()

array(['win', 'nc', 'draw'], dtype=object)

In [720]:
print_unique_value(df_fights)

fighter_1 :  ['Arman Tsarukyan' 'Ian Machado Garry' 'Volkan Oezdemir' ... 'Fabiano Iha'
 'Elvis Sinosic' 'Bobby Hoffman']
fighter_2 :  ['Dan Hooker' 'Belal Muhammad' 'Alonzo Menifield' ... 'Yoji Anjo'
 'Daiju Takase' 'Lance Gibson']
location :  ['Doha, Qatar' 'New York City, New York, USA' 'Las Vegas, Nevada, USA'
 'Abu Dhabi, Abu Dhabi, United Arab Emirates'
 'Vancouver, British Columbia, Canada'
 'Rio de Janeiro, Rio de Janeiro, Brazil'
 'Perth, Western Australia, Australia' 'San Antonio, Texas, USA'
 'Paris, Ile-de-France, France' 'Shanghai, Hebei, China'
 'Chicago, Illinois, USA' 'New Orleans, Louisiana, USA'
 'Nashville, Tennessee, USA' 'Baku, Azerbaijan' 'Atlanta, Georgia, USA'
 'Newark, New Jersey, USA' 'Montreal, Quebec, Canada'
 'Des Moines, Iowa, USA' 'Kansas City, Missouri, USA'
 'Miami, Florida, USA' 'Mexico City, Distrito Federal, Mexico'
 'London, England, United Kingdom' 'Seattle, Washington, USA'
 'Sydney, New South Wales, Australia' 'Riyadh, Riyadh, Saudi Arabia'
 'Inglewood, California, USA' 'Tampa, Florida, USA' 'Macau, China'
 'Edmonton, Alberta, Canada' 'Salt Lake City, Utah, USA'
 'Manchester, England, United Kingdom' 'Denver, Colorado, USA'
 'Louisville, Kentucky, USA' 'St. Louis, Missouri, USA'
 'Atlantic City, New Jersey, USA' 'Anaheim, California, USA'
 'Toronto, Ontario, Canada' 'Austin, Texas, USA'
 'Sao Paulo, Sao Paulo, Brazil' 'Kallang, Singapore'
 'Boston, Massachusetts, USA' 'Jacksonville, Florida, USA'
 'Charlotte, North Carolina, USA' 'Orlando, Florida, USA'
 'San Diego, California, USA' 'Dallas, Texas, USA' 'Elmont, New York, USA'
 'Phoenix, Arizona, USA' 'Columbus, Ohio, USA' 'Houston, Texas, USA'
 'Glendale, Arizona, USA' 'Brasilia, Distrito Federal, Brazil'
 'Norfolk, Virginia, USA' 'Auckland, New Zealand'
 'Rio Rancho, New Mexico, USA' 'Raleigh, North Carolina, USA'
 'Busan, South Korea' 'Washington, DC, USA' 'Moscow, Moscow, Russia'
 'Melbourne, Victoria, Australia' 'Copenhagen, Denmark'
 'Shenzhen, Guangdong, China' 'Montevideo, Uruguay'
 'Sacramento, California, USA' 'Minneapolis, Minnesota, USA'
 'Greenville, South Carolina, USA' 'Stockholm, Sweden'
 'Rochester, New York, USA' 'Ottawa, Ontario, Canada'
 'Sunrise, Florida, USA' 'Saint Petersburg, Saint Petersburg, Russia'
 'Philadelphia, Pennsylvania, USA' 'Wichita, Kansas, USA'
 'Prague, Czech Republic' 'Fortaleza, Ceara, Brazil'
 'Brooklyn, New York, USA' 'Los Angeles, California, USA'
 'Milwaukee, Wisconsin, USA' 'Adelaide, South Australia, Australia'
 'Beijing, China' 'Buenos Aires, Buenos Aires, Argentina'
 'Moncton, New Brunswick, Canada' 'Lincoln, Nebraska, USA'
 'Calgary, Alberta, Canada' 'Hamburg, Hamburg, Germany'
 'Boise, Idaho, USA' 'Utica, New York, USA'
 'Liverpool, England, United Kingdom' 'Santiago, Chile'
 'Belem, Para, Brazil' 'Winnipeg, Manitoba, Canada'
 'Fresno, California, USA' 'Detroit, Michigan, USA' 'Gdansk, Poland'
 'Saitama, Saitama, Japan' 'Pittsburgh, Pennsylvania, USA'
 'Rotterdam, Zuid-Holland, Netherlands' 'Uniondale, New York, USA'
 'Glasgow, Scotland, United Kingdom' 'Oklahoma City, Oklahoma, USA'
 'Buffalo, New York, USA' 'Halifax, Nova Scotia, Canada'
 'Albany, New York, USA' 'Belfast, Northern Ireland, United Kingdom'
 'Portland, Oregon, USA' 'Hidalgo, Texas, USA' 'Cleveland, Ohio, USA'
 'Sioux Falls, South Dakota, USA' 'Curitiba, Parana, Brazil'
 'Zagreb, Croatia' 'Brisbane, Queensland, Australia' 'Seoul, South Korea'
 'Monterrey, Nuevo Leon, Mexico' 'Dublin, Leinster, Ireland'
 'Saitama, Japan' 'Saskatoon, Saskatchewan, Canada'
 'Hollywood, Florida, USA' 'Berlin, Berlin, Germany'
 'Goiania, Goias, Brazil' 'Manila, Philippines' 'Krakow, Poland'
 'Fairfax, Virginia, USA' 'Rio de Janeiro, Brazil'
 'Porto Alegre, Rio Grande do Sul, Brazil' 'Broomfield, Colorado, USA'
 'Barueri, Sao Paulo, Brazil' 'Uberlandia, Minas Gerais, Brazil'
 'Ledyard, Connecticut, USA' 'Tulsa, Oklahoma, USA' 'Bangor, Maine, USA'
 'San Jose, California, USA' 'Albuquerque, New Mexico, USA'
 'Sao Paulo, Brazil' 'Berlin, Germany' 'Cincinnati, Ohio, USA'
 'Baltimore, Maryland, USA' 'Quebec City, Quebec, Canada'
 'Abu Dhabi, United Arab Emirates' 'Natal, Rio Grande do Norte, Brazil'
 'Jaragua do Sul, Santa Catarina, Brazil' 'Duluth, Georgia, USA'
 'Singapore, Singapore' 'Fort Campbell, Kentucky, USA'
 'Belo Horizonte, Minas Gerais, Brazil' 'Indianapolis, Indiana, USA'
 'Gold Coast, Queensland, Australia' 'Nottingham, England, United Kingdom'
 'East Rutherford, New Jersey, USA' 'Omaha, Nebraska, USA'
 'Birmingham, England, United Kingdom' 'Killeen, Texas, USA'
 'Auburn Hills, Michigan, USA'
 'Oberhausen, North Rhine-Westphalia, Germany' 'Oakland, California, USA'
 'Memphis, Tennessee, USA' 'Cologne, North Rhine-Westphalia, Germany'
 'Fayetteville, North Carolina, USA' 'Rosemont, Illinois, USA'
 'Newcastle, England, United Kingdom' 'Uncasville, Connecticut, USA'
 'Bossier City, Louisiana, USA' 'Tokyo, Japan']
referee :  ['Marc Goddard' 'Rich Mitchell' 'Daniel Movahedi' 'Lukasz Bosacki'
 'Herb Dean' 'Blake Grice' 'Keith Peterson' 'Dan Miragliotta' 'Mark Smith'
 'Kerry Hatley' 'Chris Tognoni' 'Eric McMahon' 'Jason Herzog'
 'John Cooper' 'Mitch Cadlick' 'Sal Ram' 'Osiris Maia'
 'Joao Claudio Soares' 'Mike Beltran' 'Jim Perdios' 'Steve Perceval'
 'Matt Wynne' 'Jacob Montalvo' 'Jeff Rexroad' 'Patricio Carlos'
 'Vitor Ribeiro' 'Robert Madrigal' 'Nick Cimmarusti' 'Chris Hill'
 'Bassel Mahgoub' 'Jimmy Neely' 'Justin Brown' 'Kevin MacDonald'
 'Brent McKeehan' 'Nate Mann' 'Gasper Oliver' 'Erick Philippeaux'
 'Luc Lefebvre' 'Gary Copeland' 'Bruce Allen' 'Tyrone Roberts'
 'Nick Berens' 'Zach Teiberis' 'Andrew Glenn' 'Raul Porrata'
 'Fernando Salas Navarro' 'Horacio Lopez Villanueva' 'Jeff Hoiby'
 'Frank Trigg' 'Mark Craig' 'Kevin Sataki' 'Jerin Valel' 'Luke Boutin'
 'Andy Social' 'Tyler Tomlinson' 'Dave Seljestad' 'Loic Pora'
 'Christophe Chapuis' 'Greg Kleynjans' 'Joe Coca' 'Joel Ojeda'
 'Thomas Fan' 'Rob Mooney' 'George Conley' 'Josh Stewart'
 'Fernando Portella' 'Bladimir Puga' 'Jonathan Romero'
 'Todd Ronald Anderson' 'Brian Beauchamp' 'Mathew  Rocca' 'Bryan Miner'
 'John English' 'Larry Folsom' 'Phil Koldyk' 'Wayne Spinola'
 'Larry Carter' 'Dwayne Bess' 'Peter Hickmott' 'John Sharp'
 'Ryan Brueggeman' 'Chad Trukovich' 'Vyacheslav  Kiselev' 'Al Guinee'
 'James Folsom' 'Josh Rutgers' 'Anders Ohlsson' 'Leon Roberts'
 'Jason McCoy' 'Michael Cardoso' 'Eduardo Herdy' 'Camila Albuquerque'
 'Julio Catarino' 'Bill Bookwalter' 'Mike King' 'Scott Howard'
 'Neil Swailes' 'Robert Romero' 'Fernando Yamasaki' 'Kevin Mulhall'
 'Gary Forman' 'Steve Rita' 'Neil Hall' 'Rebin Saber' 'Mikkel Birch Olsen'
 'Yves Lavigne' 'Kevin Dornan' 'Vjacheslav Kiselev' 'George Allen'
 'Liam Kerrigan' 'Kyle Cardinal' 'Frank Collazo' 'Josh Rosenthal'
 'Vance Swerdan' 'Travis Metteer' 'Larry Downs, Jr.' 'Alan Abeles'
 'James Chappell' 'Ricky Parker' 'Rob Hinds' 'Marcio Laselva'
 'Jakub Muller' 'Ed Collantes' 'Joe Fipp' 'Graham Bettes' 'Ivan Svec'
 'Tom Johnson' 'Tim Mills' 'Eric Nevitt' 'Barry Gallant'
 'Kiselev Viacheslav' 'Dave Jobeun' 'Brandon Pfannenstiel'
 'Tomasz Bronder' 'Tomaz Bendy' 'Tom Supnet' 'Rulon Day' 'Nic Jones'
 'Grant Waterman' 'Jorge Alonso' 'Mark Simpson' 'Mario Yamasaki'
 'Donnie Jessup' 'Joseph Hawes' 'Marc Wasem' 'John McCarthy' 'Mike Bell'
 'Mark Lawley' 'Bobby  Wombacher' 'Elvis Bello' 'Piotr Michalak'
 'Gary Ritter' 'Bobby Rehman' 'Chris Reed' 'Don Turnage' 'Josh Ward'
 'Mike England' 'Brad Jardine' 'Cyril Desjardins' 'Adam Martinez'
 'Miguel Jimenez' 'Dave Hagen' 'Jerry Poe' 'James Warring' 'Chip Snider'
 'John Hosegood' 'Joe Solis' 'Adam Cheadle' 'David Ferguson'
 'Otto Torriero' 'Kim Winslow' 'Wolf Menninger' 'Gabe Barahona'
 'Jordan Bass' 'Robbie Scheureumann' 'Myron Gaudet' 'Terry Hill'
 'Philippe Chartier' 'Todd McGovern' 'Wernei Cardoso' 'Don Thais'
 'Kristian Hacklou' 'Steven Davis' 'Kevin Nix' 'Jerry Krysz' 'Jorge Ortiz'
 'Osiris de Medeiros' 'Steve Mazzagatti' 'Cameron Quinn' 'Jason Stafin'
 'Al Wichgers' 'Steve Newport' 'Randy Corley' 'Marko Gyllenland'
 'Robert Sundel' 'Marc-Andre Cote' 'Anthony Hamlett' 'Darryl Guthmiller'
 'Nick Gamst' 'Luis Cobian' 'Marcos Rosales' 'Troy Waugh' 'Frank Gentile'
 'Chris Adams' 'Rick McCoy' 'Will Fisher' 'Jim Axtel' 'Mark Powell'
 'Bo Nesslein' 'Dan Stell' 'Larry Landless' 'Mark Matheny' 'Chris Kinman'
 'Jon Schorle' 'Marc Fennell' 'Jeff Malott' 'Tony Williamson' 'Dale Frye'
 'Bill Clancy' 'Greg Franklin' 'Tom Jones' 'Shawn Gregory' 'Rick Fike'
 'Al Coley' 'David Smith' 'Todd Frederickson' 'Mike Reid' 'Josh Arney'
 'Marco Lopez' 'Cecil Peoples' 'Sean Brockmole' 'Nelson Hamilton'
 'Kipp Kollar' 'Mason White']
result :  ['win' 'nc' 'draw']
winner :  ['Arman Tsarukyan' 'Ian Machado Garry' 'Volkan Oezdemir' ... 'Fabiano Iha'
 'Elvis Sinosic' 'Mark Robinson']
weight_class :  ['Lightweight' 'Welterweight' 'Light Heavyweight' 'Heavyweight'
 'Flyweight' 'Featherweight' 'Bantamweight' 'Middleweight'
 "Women's Flyweight" "Women's Strawweight" "Women's Bantamweight"
 'Catch Weight' "Women's Featherweight"]
method :  ['SUB Arm Triangle' 'U-DEC' 'KO/TKO Punches' 'KO/TKO Punch'
 'SUB Rear Naked Choke' 'S-DEC' 'SUB Guillotine Choke' 'KO/TKO Kick'
 "SUB D'Arce Choke" 'KO/TKO Knee' 'SUB Anaconda Choke' 'CNC' 'M-DEC'
 'SUB Heel Hook' 'KO/TKO' 'SUB Kimura' 'SUB Armbar' 'KO/TKO Elbows'
 'KO/TKO Elbow' 'SUB Ezekiel Choke' 'KO/TKO Spinning Back Elbow'
 'SUB Triangle Choke' 'KO/TKO Slam' 'SUB Neck Crank' 'Overturned'
 'SUB Keylock' 'KO/TKO Flying Knee' 'KO/TKO Spinning Back Kick'
 'KO/TKO Spinning Back Fist' 'KO/TKO Knees' 'SUB Triangle Armbar' 'DQ'
 'KO/TKO Kicks' 'SUB Twister' 'Overturned Guillotine Choke'
 'SUB Other - Lock' 'SUB Kneebar' 'SUB Inverted Triangle'
 'SUB Von Flue Choke' 'SUB Scarf Hold' 'SUB Straight Armbar'
 'Overturned Punches' 'SUB Ankle Lock' 'SUB Forearm Choke' 'SUB Injury'
 'Overturned Punch' 'Overturned Rear Naked Choke' 'Overturned Knee'
 'Overturned Arm Triangle' 'SUB Peruvian Necktie'
 'SUB Schultz Front Headlock' 'SUB Bulldog Choke'
 "Overturned D'Arce Choke" 'SUB Suloev Stretch' 'SUB Omoplata'
 'SUB Calf Slicer' 'SUB North-South Choke' 'Overturned Kick'
 'DQ Rear Naked Choke' 'Overturned Triangle Choke' 'Overturned Elbows'
 'SUB Pace/Pillory Choke' 'SUB Toe Hold']
time :  [datetime.time(0, 3, 34) datetime.time(0, 5) datetime.time(0, 1, 27)
 datetime.time(0, 2, 46) datetime.time(0, 1, 22) datetime.time(0, 2, 18)
 datetime.time(0, 0, 30) datetime.time(0, 0, 22) datetime.time(0, 0, 33)
 datetime.time(0, 1, 26) datetime.time(0, 3, 27) datetime.time(0, 1, 28)
 datetime.time(0, 0, 16) datetime.time(0, 2, 24) datetime.time(0, 4, 44)
 datetime.time(0, 0, 50) datetime.time(0, 1, 38) datetime.time(0, 1, 40)
 datetime.time(0, 2, 54) datetime.time(0, 1, 3) datetime.time(0, 4, 30)
 datetime.time(0, 3, 20) datetime.time(0, 0, 56) datetime.time(0, 4, 23)
 datetime.time(0, 3, 59) datetime.time(0, 3, 41) datetime.time(0, 4, 29)
 datetime.time(0, 3, 13) datetime.time(0, 3, 33) datetime.time(0, 1, 25)
 datetime.time(0, 4, 36) datetime.time(0, 4, 35) datetime.time(0, 3, 11)
 datetime.time(0, 2, 30) datetime.time(0, 1, 24) datetime.time(0, 1, 14)
 datetime.time(0, 3, 5) datetime.time(0, 1, 16) datetime.time(0, 0, 21)
 datetime.time(0, 2, 15) datetime.time(0, 2, 50) datetime.time(0, 0, 55)
 datetime.time(0, 4, 32) datetime.time(0, 2, 48) datetime.time(0, 4, 10)
 datetime.time(0, 3, 2) datetime.time(0, 1, 42) datetime.time(0, 4, 42)
 datetime.time(0, 0, 26) datetime.time(0, 2, 14) datetime.time(0, 2, 56)
 datetime.time(0, 3, 55) datetime.time(0, 1, 20) datetime.time(0, 3, 4)
 datetime.time(0, 1, 46) datetime.time(0, 1, 41) datetime.time(0, 4, 58)
 datetime.time(0, 4, 27) datetime.time(0, 3, 19) datetime.time(0, 3, 8)
 datetime.time(0, 4, 8) datetime.time(0, 2, 41) datetime.time(0, 1, 55)
 datetime.time(0, 4, 48) datetime.time(0, 2, 27) datetime.time(0, 3, 46)
 datetime.time(0, 4, 21) datetime.time(0, 0, 51) datetime.time(0, 0, 47)
 datetime.time(0, 3, 18) datetime.time(0, 2, 2) datetime.time(0, 2, 3)
 datetime.time(0, 3, 21) datetime.time(0, 3, 1) datetime.time(0, 1, 43)
 datetime.time(0, 0, 54) datetime.time(0, 1, 58) datetime.time(0, 2, 37)
 datetime.time(0, 0, 43) datetime.time(0, 0, 37) datetime.time(0, 2, 45)
 datetime.time(0, 4, 59) datetime.time(0, 4, 39) datetime.time(0, 2, 1)
 datetime.time(0, 3, 3) datetime.time(0, 3, 53) datetime.time(0, 1, 6)
 datetime.time(0, 1, 2) datetime.time(0, 1, 31) datetime.time(0, 3, 39)
 datetime.time(0, 4, 18) datetime.time(0, 0, 42) datetime.time(0, 2, 59)
 datetime.time(0, 1, 10) datetime.time(0, 4, 6) datetime.time(0, 2, 47)
 datetime.time(0, 3, 35) datetime.time(0, 1, 30) datetime.time(0, 0, 35)
 datetime.time(0, 0, 27) datetime.time(0, 4, 16) datetime.time(0, 4, 25)
 datetime.time(0, 1, 9) datetime.time(0, 2, 36) datetime.time(0, 4, 3)
 datetime.time(0, 4, 17) datetime.time(0, 0, 36) datetime.time(0, 0, 11)
 datetime.time(0, 4, 55) datetime.time(0, 4, 1) datetime.time(0, 3, 25)
 datetime.time(0, 0, 28) datetime.time(0, 3, 16) datetime.time(0, 1, 50)
 datetime.time(0, 1, 39) datetime.time(0, 3, 43) datetime.time(0, 3, 37)
 datetime.time(0, 2, 26) datetime.time(0, 2, 35) datetime.time(0, 2, 40)
 datetime.time(0, 1, 4) datetime.time(0, 1, 53) datetime.time(0, 1, 12)
 datetime.time(0, 2, 44) datetime.time(0, 2, 7) datetime.time(0, 1, 54)
 datetime.time(0, 4, 54) datetime.time(0, 1, 59) datetime.time(0, 1, 49)
 datetime.time(0, 2, 31) datetime.time(0, 3, 7) datetime.time(0, 3, 52)
 datetime.time(0, 4, 15) datetime.time(0, 2, 49) datetime.time(0, 1, 52)
 datetime.time(0, 3, 48) datetime.time(0, 4, 13) datetime.time(0, 1, 45)
 datetime.time(0, 4, 38) datetime.time(0, 3, 32) datetime.time(0, 3, 42)
 datetime.time(0, 3, 22) datetime.time(0, 2, 19) datetime.time(0, 4, 9)
 datetime.time(0, 3, 9) datetime.time(0, 2, 29) datetime.time(0, 2, 16)
 datetime.time(0, 4, 45) datetime.time(0, 3, 10) datetime.time(0, 0, 39)
 datetime.time(0, 2, 51) datetime.time(0, 3, 24) datetime.time(0, 3, 58)
 datetime.time(0, 2, 12) datetime.time(0, 1, 35) datetime.time(0, 2, 58)
 datetime.time(0, 1, 17) datetime.time(0, 2, 6) datetime.time(0, 0, 19)
 datetime.time(0, 3, 12) datetime.time(0, 4, 22) datetime.time(0, 4, 5)
 datetime.time(0, 4, 53) datetime.time(0, 3, 31) datetime.time(0, 4, 56)
 datetime.time(0, 0, 31) datetime.time(0, 2, 4) datetime.time(0, 1, 13)
 datetime.time(0, 1, 36) datetime.time(0, 1, 57) datetime.time(0, 3, 44)
 datetime.time(0, 2, 5) datetime.time(0, 4, 46) datetime.time(0, 0, 52)
 datetime.time(0, 4, 51) datetime.time(0, 1, 56) datetime.time(0, 3, 49)
 datetime.time(0, 2, 25) datetime.time(0, 0, 46) datetime.time(0, 2, 55)
 datetime.time(0, 0, 40) datetime.time(0, 4, 50) datetime.time(0, 1, 44)
 datetime.time(0, 1, 15) datetime.time(0, 4, 19) datetime.time(0, 1, 23)
 datetime.time(0, 2, 28) datetime.time(0, 4, 28) datetime.time(0, 0, 59)
 datetime.time(0, 1, 34) datetime.time(0, 4, 52) datetime.time(0, 3, 14)
 datetime.time(0, 2, 22) datetime.time(0, 4, 33) datetime.time(0, 2, 17)
 datetime.time(0, 3, 47) datetime.time(0, 4, 2) datetime.time(0, 0, 29)
 datetime.time(0, 4, 14) datetime.time(0, 3, 28) datetime.time(0, 4, 12)
 datetime.time(0, 3, 38) datetime.time(0, 4, 4) datetime.time(0, 0, 48)
 datetime.time(0, 2, 39) datetime.time(0, 3, 36) datetime.time(0, 1)
 datetime.time(0, 3, 23) datetime.time(0, 1, 5) datetime.time(0, 4, 49)
 datetime.time(0, 0, 20) datetime.time(0, 0, 18) datetime.time(0, 0, 13)
 datetime.time(0, 2) datetime.time(0, 4, 47) datetime.time(0, 2, 42)
 datetime.time(0, 3, 50) datetime.time(0, 0, 49) datetime.time(0, 0, 12)
 datetime.time(0, 3) datetime.time(0, 2, 10) datetime.time(0, 2, 9)
 datetime.time(0, 1, 29) datetime.time(0, 3, 17) datetime.time(0, 1, 47)
 datetime.time(0, 4, 11) datetime.time(0, 2, 13) datetime.time(0, 3, 6)
 datetime.time(0, 4) datetime.time(0, 4, 43) datetime.time(0, 1, 32)
 datetime.time(0, 2, 52) datetime.time(0, 3, 54) datetime.time(0, 0, 15)
 datetime.time(0, 2, 32) datetime.time(0, 1, 1) datetime.time(0, 4, 41)
 datetime.time(0, 0, 58) datetime.time(0, 0, 44) datetime.time(0, 1, 18)
 datetime.time(0, 2, 43) datetime.time(0, 0, 32) datetime.time(0, 3, 29)
 datetime.time(0, 4, 31) datetime.time(0, 1, 11) datetime.time(0, 0, 38)
 datetime.time(0, 4, 24) datetime.time(0, 3, 15) datetime.time(0, 2, 23)
 datetime.time(0, 4, 40) datetime.time(0, 3, 26) datetime.time(0, 4, 37)
 datetime.time(0, 2, 20) datetime.time(0, 3, 51) datetime.time(0, 0, 23)
 datetime.time(0, 2, 11) datetime.time(0, 4, 57) datetime.time(0, 4, 26)
 datetime.time(0, 1, 7) datetime.time(0, 0, 34) datetime.time(0, 0, 17)
 datetime.time(0, 4, 20) datetime.time(0, 1, 48) datetime.time(0, 2, 57)
 datetime.time(0, 0, 14) datetime.time(0, 4, 34) datetime.time(0, 1, 37)
 datetime.time(0, 0, 8) datetime.time(0, 4, 7) datetime.time(0, 1, 33)
 datetime.time(0, 2, 21) datetime.time(0, 3, 57) datetime.time(0, 0, 45)
 datetime.time(0, 1, 8) datetime.time(0, 2, 38) datetime.time(0, 0, 41)
 datetime.time(0, 3, 56) datetime.time(0, 2, 34) datetime.time(0, 3, 45)
 datetime.time(0, 2, 33) datetime.time(0, 0, 57) datetime.time(0, 0, 25)
 datetime.time(0, 1, 21) datetime.time(0, 0, 53) datetime.time(0, 1, 51)
 datetime.time(0, 3, 40) datetime.time(0, 0, 7) datetime.time(0, 1, 19)
 datetime.time(0, 2, 53) datetime.time(0, 0, 5) datetime.time(0, 0, 9)
 datetime.time(0, 2, 8) datetime.time(0, 0, 24) datetime.time(0, 3, 30)
 datetime.time(0, 0, 10) datetime.time(0, 0, 6)]

In [721]:
df_fights[df_fights['result']=='nc']

,fighter_1,fighter_2,date,location,referee,fighter_1_kd,fighter_2_kd,fighter_1_sig_str,fighter_2_sig_str,fighter_1_td,fighter_2_td,fighter_1_sub,fighter_2_sub,result,winner,weight_class,method,rounds,time,title_fight
53,Tom Aspinall,Ciryl Gane,2025-10-25,"Abu Dhabi, Abu Dhabi, United Arab Emirates",Jason Herzog,0,0,27,30,0,0,0,0,nc,-,Heavyweight,CNC,1,00:04:35,True
127,Zach Reese,Sedriques Dumas,2025-09-13,"San Antonio, Texas, USA",Mike Beltran,0,0,2,3,0,0,0,0,nc,-,Middleweight,CNC,1,00:00:51,False
259,Paul Craig,Rodolfo Bellato,2025-06-14,"Atlanta, Georgia, USA",Kevin MacDonald,0,0,17,10,0,1,0,0,nc,-,Light Heavyweight,CNC,1,00:04:59,False
730,Abdul Razak Alhassan,Cody Brundage,2024-07-13,"Denver, Colorado, USA",Dan Miragliotta,0,0,23,1,0,0,0,0,nc,-,Middleweight,CNC,1,00:00:37,False
900,Bryan Battle,Ange Loosa,2024-03-16,"Las Vegas, Nevada, USA",Mike Beltran,0,0,27,23,1,0,0,0,nc,-,Welterweight,CNC,2,00:01:00,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7401,Karo Parisyan,Dong Hyun Kim,2009-01-31,"Las Vegas, Nevada, USA",Josh Rosenthal,0,0,24,19,2,2,1,2,nc,Dong Hyun Kim,Welterweight,Overturned,3,00:05:00,False
7707,Gray Maynard,Rob Emerson,2007-06-23,"Las Vegas, Nevada, USA",Steve Mazzagatti,0,0,20,3,2,1,1,1,nc,-,Lightweight,CNC,2,00:00:39,False
7970,Alessio Sakara,Ron Faircloth,2005-10-07,"Uncasville, Connecticut, USA",Herb Dean,1,0,46,2,0,0,0,0,nc,-,Light Heavyweight,CNC,2,00:00:10,False
8143,Benji Radach,Steve Berger,2002-05-10,"Bossier City, Louisiana, USA",John McCarthy,1,0,10,0,0,0,0,0,nc,Steve Berger,Welterweight,Overturned,1,00:00:27,False
8198,Bobby Hoffman,Mark Robinson,2001-02-23,"Atlantic City, New Jersey, USA",John McCarthy,1,0,20,0,0,0,0,0,nc,Mark Robinson,Heavyweight,Overturned,1,00:03:27,False

In [723]:
df_fights[df_fights['method']=="Overturned"]

,fighter_1,fighter_2,date,location,referee,fighter_1_kd,fighter_2_kd,fighter_1_sig_str,fighter_2_sig_str,fighter_1_td,fighter_2_td,fighter_1_sub,fighter_2_sub,result,winner,weight_class,method,rounds,time,title_fight
257,Mansur Abdul-Malik,Cody Brundage,2025-06-14,"Atlanta, Georgia, USA",Brent McKeehan,0,0,25,30,0,0,0,0,draw,Cody Brundage,Middleweight,Overturned,3,00:00:36,False
1058,Trey Ogden,Nikolas Motta,2023-11-18,"Las Vegas, Nevada, USA",Mike Beltran,0,0,58,14,3,0,1,0,nc,Nikolas Motta,Lightweight,Overturned,3,00:03:11,False
1122,Dan Argueta,Miles Johns,2023-09-23,"Las Vegas, Nevada, USA",Kerry Hatley,0,0,33,43,2,2,2,0,nc,Miles Johns,Bantamweight,Overturned,3,00:05:00,False
1135,Edgar Chairez,Daniel Lacerda,2023-09-16,"Las Vegas, Nevada, USA",Chris Tognoni,0,0,12,4,0,1,1,0,nc,Daniel Lacerda,Flyweight,Overturned,1,00:03:47,False
1299,Dan Argueta,Ronnie Lawrence,2023-06-17,"Las Vegas, Nevada, USA",Keith Peterson,0,0,4,1,1,0,2,0,nc,Ronnie Lawrence,Bantamweight,Overturned,1,00:02:20,False
1731,Don'Tale Mayes,Hamdy Abdelwahab,2022-07-30,"Dallas, Texas, USA",Kerry Hatley,0,1,47,58,0,3,0,0,nc,Hamdy Abdelwahab,Heavyweight,Overturned,3,00:05:00,False
2166,Kevin Holland,Kyle Daukaus,2021-10-02,"Las Vegas, Nevada, USA",Dan Miragliotta,0,0,3,9,0,1,0,3,nc,Kyle Daukaus,Middleweight,Overturned,1,00:03:43,False
2359,Matt Schnell,Rogerio Bontorin,2021-05-15,"Houston, Texas, USA",Kerry Hatley,0,0,65,72,0,1,0,0,nc,Rogerio Bontorin,Bantamweight,Overturned,3,00:05:00,False
2692,Donald Cerrone,Niko Price,2020-09-19,"Las Vegas, Nevada, USA",Jason Herzog,0,0,113,150,0,0,0,0,nc,Niko Price,Welterweight,Overturned,3,00:05:00,False
3095,Greg Hardy,Ben Sosoli,2019-10-18,"Boston, Massachusetts, USA",Bryan Miner,0,0,54,26,0,0,0,0,nc,Ben Sosoli,Heavyweight,Overturned,3,00:05:00,False
3258,Mike Rodriguez,John Allan,2019-07-13,"Sacramento, California, USA",Mike Beltran,0,0,70,55,0,4,0,3,nc,John Allan,Light Heavyweight,Overturned,3,00:05:00,False
3528,Andrei Arlovski,Walt Harris,2018-12-29,"Los Angeles, California, USA",Mike Beltran,0,0,44,24,0,1,0,0,nc,Walt Harris,Heavyweight,Overturned,3,00:05:00,False
3802,CM Punk,Mike Jackson,2018-06-09,"Chicago, Illinois, USA",Kevin MacDonald,0,0,19,64,1,1,0,0,nc,Mike Jackson,Welterweight,Overturned,3,00:05:00,False
4002,Khalil Rountree Jr.,Michal Oleksiejczuk,2017-12-30,"Las Vegas, Nevada, USA",Herb Dean,0,0,52,76,0,2,1,0,nc,Michal Oleksiejczuk,Light Heavyweight,Overturned,3,00:05:00,False
4424,Adam Milstead,Curtis Blaydes,2017-02-04,"Houston, Texas, USA",Kerry Hatley,0,0,1,25,0,8,0,0,nc,Curtis Blaydes,Heavyweight,Overturned,2,00:00:59,False
4537,Francimar Barroso,Darren Stewart,2016-11-19,"Sao Paulo, Sao Paulo, Brazil",Eduardo Herdy,0,0,0,7,0,1,0,0,nc,Darren Stewart,Light Heavyweight,Overturned,1,00:01:34,False
4713,Brock Lesnar,Mark Hunt,2016-07-09,"Las Vegas, Nevada, USA",Dan Miragliotta,0,0,51,13,4,0,0,0,nc,Mark Hunt,Heavyweight,Overturned,3,00:05:00,False
5374,Anderson Silva,Nick Diaz,2015-01-31,"Las Vegas, Nevada, USA",John McCarthy,0,0,108,77,0,0,0,0,nc,Nick Diaz,Middleweight,Overturned,5,00:05:00,False
5413,Hector Lombard,Joshua Burkman,2015-01-03,"Las Vegas, Nevada, USA",John McCarthy,0,0,53,42,2,0,0,0,nc,Joshua Burkman,Welterweight,Overturned,3,00:05:00,False
5633,Mike de la Torre,Brian Ortega,2014-07-26,"San Jose, California, USA",John McCarthy,0,0,6,3,0,1,0,2,nc,Brian Ortega,Featherweight,Overturned,1,00:01:39,False
5669,Robert Drysdale,Keith Berish,2014-07-06,"Las Vegas, Nevada, USA",Mark Smith,0,0,0,0,1,0,3,0,nc,Keith Berish,Light Heavyweight,Overturned,1,00:02:03,False
5846,Phil Harris,Louis Gaudinot,2014-03-08,"London, England, United Kingdom",Grant Waterman,0,0,3,2,0,0,0,1,nc,Louis Gaudinot,Flyweight,Overturned,1,00:01:13,False
5896,Chico Camus,Yaotzin Meza,2014-01-25,"Chicago, Illinois, USA",Otto Torriero,0,0,12,12,2,1,1,0,nc,Yaotzin Meza,Bantamweight,Overturned,3,00:05:00,False
5930,Dennis Siver,Manvel Gamburyan,2013-12-28,"Las Vegas, Nevada, USA",Herb Dean,0,0,54,14,2,3,0,0,nc,Manvel Gamburyan,Featherweight,Overturned,3,00:05:00,False
5999,Yves Edwards,Yancy Medeiros,2013-11-06,"Fort Campbell, Kentucky, USA",John McCarthy,0,1,19,25,0,0,0,0,nc,Yancy Medeiros,Lightweight,Overturned,1,00:02:47,False
6021,Sarah Kaufman,Jessica Eye,2013-10-19,"Houston, Texas, USA",Jacob Montalvo,0,0,87,65,0,0,0,0,nc,Jessica Eye,Women's Bantamweight,Overturned,3,00:05:00,False
6185,Jim Miller,Pat Healy,2013-04-27,"Newark, New Jersey, USA",Herb Dean,0,0,27,53,1,5,0,2,nc,Pat Healy,Lightweight,Overturned,3,00:04:02,False
6250,Alex Caceres,Kyung Ho Kang,2013-03-02,"Saitama, Japan",Herb Dean,0,0,30,16,0,5,0,0,nc,Kyung Ho Kang,Bantamweight,Overturned,3,00:05:00,False
6269,Che Mills,Matthew Riddle,2013-02-16,"London, England, United Kingdom",Kevin Mulhall,0,0,28,23,0,5,0,0,nc,Matthew Riddle,Welterweight,Overturned,3,00:05:00,False
6337,Igor Pokrajac,Joey Beltran,2012-12-14,"Gold Coast, Queensland, Australia",John Sharp,0,0,48,65,0,0,0,0,nc,Joey Beltran,Light Heavyweight,Overturned,3,00:05:00,False
6366,Thiago Silva,Stanislav Nedkov,2012-11-10,"Macau, China",Steve Perceval,0,1,62,18,1,0,1,0,nc,Stanislav Nedkov,Light Heavyweight,Overturned,3,00:01:45,False
6421,Jake Shields,Ed Herman,2012-08-11,"Denver, Colorado, USA",Adam Martinez,0,0,33,21,3,1,0,0,nc,Ed Herman,Middleweight,Overturned,3,00:05:00,False
6443,Chris Clements,Matthew Riddle,2012-07-21,"Calgary, Alberta, Canada",Josh Rosenthal,0,0,38,28,0,5,0,1,nc,Matthew Riddle,Welterweight,Overturned,3,00:02:02,False
6700,Mackens Semerzier,Robert Peralta,2011-11-12,"Anaheim, California, USA",John McCarthy,0,2,50,39,1,0,0,0,nc,Robert Peralta,Featherweight,Overturned,3,00:01:54,False
6822,Nik Lentz,Charles Oliveira,2011-06-26,"Pittsburgh, Pennsylvania, USA",Chip Snider,0,1,14,31,2,1,2,3,nc,Charles Oliveira,Lightweight,Overturned,2,00:01:48,False
6941,Brandon Vera,Thiago Silva,2011-01-01,"Las Vegas, Nevada, USA",Steve Mazzagatti,0,0,19,51,0,3,0,1,nc,Thiago Silva,Light Heavyweight,Overturned,3,00:05:00,False
7401,Karo Parisyan,Dong Hyun Kim,2009-01-31,"Las Vegas, Nevada, USA",Josh Rosenthal,0,0,24,19,2,2,1,2,nc,Dong Hyun Kim,Welterweight,Overturned,3,00:05:00,False
8143,Benji Radach,Steve Berger,2002-05-10,"Bossier City, Louisiana, USA",John McCarthy,1,0,10,0,0,0,0,0,nc,Steve Berger,Welterweight,Overturned,1,00:00:27,False
8198,Bobby Hoffman,Mark Robinson,2001-02-23,"Atlantic City, New Jersey, USA",John McCarthy,1,0,20,0,0,0,0,0,nc,Mark Robinson,Heavyweight,Overturned,1,00:03:27,False

In [478]:
df_f1 = df_fights.merge(
    df_fighters1,
    left_on="fighter_1",
    right_on="name",
    how="left",
    suffixes=("", "_f1")
)

df_final = df_f1.merge(
    df_fighters1,
    left_on="fighter_2",
    right_on="name",
    how="left",
    suffixes=("_f1", "_f2")
)

In [479]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8183 entries, 0 to 8182
Data columns (total 60 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fighter_1          8183 non-null   object
 1   fighter_2          8183 non-null   object
 2   date               8183 non-null   object
 3   location           8183 non-null   object
 4   referee            8183 non-null   object
 5   fighter_1_kd       8183 non-null   int64
 6   fighter_2_kd       8183 non-null   int64
 7   fighter_1_sig_str  8183 non-null   int64
 8   fighter_2_sig_str  8183 non-null   int64
 9   fighter_1_td       8183 non-null   int64
 10  fighter_2_td       8183 non-null   int64
 11  fighter_1_sub      8183 non-null   int64
 12  fighter_2_sub      8183 non-null   int64
 13  result             8183 non-null   object
 14  winner             8183 non-null   object
 15  weight_class       8183 non-null   object
 16  method             8183 non-null   object
 17  rounds             8183 non-null   int64
 18  time               8183 non-null   object
 19  title_fight        8183 non-null   bool
 20  name_f1            8179 non-null   object
 21  reach_f1           8179 non-null   float64
 22  SLpM_f1            8179 non-null   float64
 23  StrAcc_f1          8179 non-null   float64
 24  SApM_f1            8179 non-null   float64
 25  StrDef_f1          8179 non-null   float64
 26  TDAvg_f1           8179 non-null   float64
 27  TDAcc_f1           8179 non-null   float64
 28  TDDef_f1           8179 non-null   float64
 29  SubAvg_f1          8179 non-null   float64
 30  height_cm_f1       8179 non-null   float64
 31  weight_kg_f1       8179 non-null   float64
 32  wins_f1            8179 non-null   float64
 33  losses_f1          8179 non-null   float64
 34  draws_f1           8179 non-null   float64
 35  nc_f1              8179 non-null   float64
 36  age_f1             8179 non-null   float64
 37  total_fights_f1    8179 non-null   float64
 38  win_rate_f1        8179 non-null   float64
 39  stance_encoded_f1  8179 non-null   float64
 40  name_f2            8159 non-null   object
 41  reach_f2           8159 non-null   float64
 42  SLpM_f2            8159 non-null   float64
 43  StrAcc_f2          8159 non-null   float64
 44  SApM_f2            8159 non-null   float64
 45  StrDef_f2          8159 non-null   float64
 46  TDAvg_f2           8159 non-null   float64
 47  TDAcc_f2           8159 non-null   float64
 48  TDDef_f2           8159 non-null   float64
 49  SubAvg_f2          8159 non-null   float64
 50  height_cm_f2       8159 non-null   float64
 51  weight_kg_f2       8159 non-null   float64
 52  wins_f2            8159 non-null   float64
 53  losses_f2          8159 non-null   float64
 54  draws_f2           8159 non-null   float64
 55  nc_f2              8159 non-null   float64
 56  age_f2             8159 non-null   float64
 57  total_fights_f2    8159 non-null   float64
 58  win_rate_f2        8159 non-null   float64
 59  stance_encoded_f2  8159 non-null   float64
dtypes: bool(1), float64(38), int64(9), object(12)
memory usage: 3.7+ MB

In [482]:
df_final1= df_final.dropna()

In [483]:
df_final1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8155 entries, 0 to 8182
Data columns (total 60 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fighter_1          8155 non-null   object
 1   fighter_2          8155 non-null   object
 2   date               8155 non-null   object
 3   location           8155 non-null   object
 4   referee            8155 non-null   object
 5   fighter_1_kd       8155 non-null   int64
 6   fighter_2_kd       8155 non-null   int64
 7   fighter_1_sig_str  8155 non-null   int64
 8   fighter_2_sig_str  8155 non-null   int64
 9   fighter_1_td       8155 non-null   int64
 10  fighter_2_td       8155 non-null   int64
 11  fighter_1_sub      8155 non-null   int64
 12  fighter_2_sub      8155 non-null   int64
 13  result             8155 non-null   object
 14  winner             8155 non-null   object
 15  weight_class       8155 non-null   object
 16  method             8155 non-null   object
 17  rounds             8155 non-null   int64
 18  time               8155 non-null   object
 19  title_fight        8155 non-null   bool
 20  name_f1            8155 non-null   object
 21  reach_f1           8155 non-null   float64
 22  SLpM_f1            8155 non-null   float64
 23  StrAcc_f1          8155 non-null   float64
 24  SApM_f1            8155 non-null   float64
 25  StrDef_f1          8155 non-null   float64
 26  TDAvg_f1           8155 non-null   float64
 27  TDAcc_f1           8155 non-null   float64
 28  TDDef_f1           8155 non-null   float64
 29  SubAvg_f1          8155 non-null   float64
 30  height_cm_f1       8155 non-null   float64
 31  weight_kg_f1       8155 non-null   float64
 32  wins_f1            8155 non-null   float64
 33  losses_f1          8155 non-null   float64
 34  draws_f1           8155 non-null   float64
 35  nc_f1              8155 non-null   float64
 36  age_f1             8155 non-null   float64
 37  total_fights_f1    8155 non-null   float64
 38  win_rate_f1        8155 non-null   float64
 39  stance_encoded_f1  8155 non-null   float64
 40  name_f2            8155 non-null   object
 41  reach_f2           8155 non-null   float64
 42  SLpM_f2            8155 non-null   float64
 43  StrAcc_f2          8155 non-null   float64
 44  SApM_f2            8155 non-null   float64
 45  StrDef_f2          8155 non-null   float64
 46  TDAvg_f2           8155 non-null   float64
 47  TDAcc_f2           8155 non-null   float64
 48  TDDef_f2           8155 non-null   float64
 49  SubAvg_f2          8155 non-null   float64
 50  height_cm_f2       8155 non-null   float64
 51  weight_kg_f2       8155 non-null   float64
 52  wins_f2            8155 non-null   float64
 53  losses_f2          8155 non-null   float64
 54  draws_f2           8155 non-null   float64
 55  nc_f2              8155 non-null   float64
 56  age_f2             8155 non-null   float64
 57  total_fights_f2    8155 non-null   float64
 58  win_rate_f2        8155 non-null   float64
 59  stance_encoded_f2  8155 non-null   float64
dtypes: bool(1), float64(38), int64(9), object(12)
memory usage: 3.7+ MB

In [484]:
df_final1[df_final1['fighter_1']==df_final1['winner']]

,fighter_1,fighter_2,date,location,referee,fighter_1_kd,fighter_2_kd,fighter_1_sig_str,fighter_2_sig_str,fighter_1_td,...,height_cm_f2,weight_kg_f2,wins_f2,losses_f2,draws_f2,nc_f2,age_f2,total_fights_f2,win_rate_f2,stance_encoded_f2
0,Arman Tsarukyan,Dan Hooker,"November 22, 2025","Doha, Qatar",Marc Goddard,0,0,42,10,2,...,182.88,70.306760,24.0,13.0,0.0,0.0,35.0,37.0,0.648649,4.0
1,Ian Machado Garry,Belal Muhammad,"November 22, 2025","Doha, Qatar",Rich Mitchell,0,0,72,56,0,...,180.34,77.110640,24.0,5.0,0.0,1.0,37.0,29.0,0.827586,1.0
2,Volkan Oezdemir,Alonzo Menifield,"November 22, 2025","Doha, Qatar",Marc Goddard,1,0,13,2,0,...,182.88,92.986360,17.0,6.0,1.0,0.0,38.0,24.0,0.708333,1.0
3,Myktybek Orolbai,Jack Hermansson,"November 22, 2025","Doha, Qatar",Daniel Movahedi,1,0,15,19,0,...,185.42,77.110640,24.0,10.0,0.0,0.0,37.0,34.0,0.705882,1.0
4,Waldo Cortes Acosta,Shamil Gaziev,"November 22, 2025","Doha, Qatar",Lukasz Bosacki,2,0,10,6,0,...,193.04,120.201880,14.0,2.0,0.0,0.0,35.0,16.0,0.875000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8178,Matt Lindland,Yoji Anjo,"December 16, 2000","Tokyo, Japan",John McCarthy,0,0,17,0,0,...,180.34,92.986360,0.0,5.0,1.0,0.0,58.0,6.0,0.000000,1.0
8179,Fabiano Iha,Daiju Takase,"December 16, 2000","Tokyo, Japan",John McCarthy,0,0,8,0,1,...,182.88,77.110640,12.0,15.0,2.0,0.0,47.0,29.0,0.413793,3.0
8180,Evan Tanner,Lance Gibson,"December 16, 2000","Tokyo, Japan",Mario Yamasaki,0,0,32,6,1,...,175.26,83.914520,4.0,5.0,0.0,0.0,55.0,9.0,0.444444,1.0
8181,Dennis Hallman,Matt Hughes,"December 16, 2000","Tokyo, Japan",Mario Yamasaki,0,0,0,1,0,...,175.26,77.110640,45.0,9.0,0.0,0.0,52.0,54.0,0.833333,4.0
8182,Chuck Liddell,Jeff Monson,"December 16, 2000","Tokyo, Japan",Mario Yamasaki,0,0,42,6,0,...,175.26,112.037224,60.0,26.0,1.0,0.0,54.0,87.0,0.689655,1.0

In [488]:
df_final1.result.unique()

array(['win', 'nc', 'draw\n\n\ndraw', 'nc\n\n\nnc'], dtype=object)